<div class='progress-msg'>[20:16:19] ---</div>
<div class='progress-msg'>[20:16:19] Registros #84</div>
<div class='progress-msg'>[20:16:19] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[20:16:19] Combinar todos os dados para o post Tapetes Turcos 2018 ...</div>
<div class='progress-msg'>[20:16:19] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapetes Turcos 2018`...</div>
<div class='progress-msg'>[20:16:19] Postagem duplicada foi encontrada para o post Tapetes Turcos 2018 com a chave exclusiva `3020`...</div>
<div class='progress-msg'>[20:16:19] Excluindo anexos para `Tapetes Turcos 2018`</div>
<div class='progress-msg'>[20:16:19] Excluindo imagens para `Tapetes Turcos 2018`</div>
<div class='progress-msg'>[20:16:19] Aplicando filtros `pmxi_article_data` para `Tapetes Turcos 2018`</div>
<div class='progress-msg'>[20:16:19] <b>ATUALIZANDO</b> `Tapetes Turcos 2018` `Produto`</div>
<div class='progress-msg'>[20:16:20] Postagem associada `Tapetes Turcos 2018` com a importação atual...</div>
<div class='progress-msg'>[20:16:21] <b>IMAGENS:</b></div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/1.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/1.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `1.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1054` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/1.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/15.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/15.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `15.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1055` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/15.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/14.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/14.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `14.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1056` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/14.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/13.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/13.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `13.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1058` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/13.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/12.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/12.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `12.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1060` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/12.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/11.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/11.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `11.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1061` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/11.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/10.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/10.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `10.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1062` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/10.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/9.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/9.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `9.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1063` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/9.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/7.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/7.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `7.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1064` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/7.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/6.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/6.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `6.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1065` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/6.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/5.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/5.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - Usando a imagem existente `5.png` para o post `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:21] - Attachment with ID: `1066` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/5.png`</div>
<div class='progress-msg'>[20:16:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/4.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/4.png` by URL...</div>
<div class='progress-msg'>[20:16:21] - <b>ATENÇÃO</b> Imagem 4.png não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:16:21] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/4.png`</div>
<div class='progress-msg'>[20:16:21] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/4.png` foi baixada com sucesso</div>
<div class='progress-msg'>[20:16:21] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/4.png`</div>
<div class='progress-msg'>[20:16:33] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:33] - Attachment with ID: `1068` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/4.png`</div>
<div class='progress-msg'>[20:16:33] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/3.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:33] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/3.png` by URL...</div>
<div class='progress-msg'>[20:16:33] - <b>ATENÇÃO</b> Imagem 3.png não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:16:33] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/3.png`</div>
<div class='progress-msg'>[20:16:33] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/3.png` foi baixada com sucesso</div>
<div class='progress-msg'>[20:16:33] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3.png`</div>
<div class='progress-msg'>[20:16:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:16:45] - Attachment with ID: `1069` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3.png`</div>
<div class='progress-msg'>[20:16:45] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/2.png` for `Tapetes Turcos 2018` ...</div>
<div class='progress-msg'>[20:16:45] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/2.png` by URL...</div>
<div class='progress-msg'>[20:16:45] - <b>ATENÇÃO</b> Imagem 2.png não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:16:45] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/2.png`</div>
<div class='progress-msg'>[20:16:45] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/04/2.png` foi baixada com sucesso</div>
<div class='progress-msg'>[20:16:45] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/2.png`</div>
<div class='progress-msg'>[20:17:01] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:01] - Attachment with ID: `1070` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/2.png`</div>
<div class='progress-msg'>[20:17:01] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[20:17:01] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[20:17:01] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[20:17:01] - Criando filho Produto product_cat para Tapetes chamado `Lançamentos` ...</div>
<div class='progress-msg'>[20:17:02] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[20:17:02] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[20:17:02] - Tentativa de criar o pai Produto tamanho_tapetes `1,50 x 2,00m`, duplicado detectado. Importando Produto para `1,50 x 2,00m` existente, ID 0, slug `46`...</div>
<div class='progress-msg'>[20:17:02] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[20:17:02] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 3,00m`, duplicado detectado. Importando Produto para `2,00 x 3,00m` existente, ID 0, slug `29`...</div>
<div class='progress-msg'>[20:17:02] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,00m`, duplicado detectado. Importando Produto para `2,50 x 3,00m` existente, ID 0, slug `37`...</div>
<div class='progress-msg'>[20:17:02] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,50m`, duplicado detectado. Importando Produto para `2,50 x 3,50m` existente, ID 0, slug `48`...</div>
<div class='progress-msg'>[20:17:02] - Tentativa de criar o pai Produto tamanho_tapetes `3,00 x 4,00m`, duplicado detectado. Importando Produto para `3,00 x 4,00m` existente, ID 0, slug `38`...</div>
<div class='progress-msg'>[20:17:02] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Medida`, duplicado detectado. Importando Produto para `Sob Medida` existente, ID 0, slug `39`...</div>
<div class='progress-msg'>[20:17:02] <b>ATUALIZADO</b> `Tapetes Turcos 2018` `Produto` (ID: 1053)</div>
<div class='progress-msg'>[20:17:02] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[20:17:02] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[20:17:06] ---</div>
<div class='progress-msg'>[20:17:06] Registros #85</div>
<div class='progress-msg'>[20:17:06] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[20:17:06] Combinar todos os dados para o post Tapete PortoFino ...</div>
<div class='progress-msg'>[20:17:06] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapete PortoFino`...</div>
<div class='progress-msg'>[20:17:06] A postagem duplicada não foi encontrada com a chave exclusiva `3049`...</div>
<div class='progress-msg'>[20:17:06] Aplicando filtros `pmxi_article_data` para `Tapete PortoFino`</div>
<div class='progress-msg'>[20:17:06] <b>CRIANDO</b> `Tapete PortoFino` `Produto`</div>
<div class='progress-msg'>[20:17:06] Postagem associada `Tapete PortoFino` com a importação atual...</div>
<div class='progress-msg'>[20:17:07] <b>IMAGENS:</b></div>
<div class='progress-msg'>[20:17:07] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38779922_1898472840455903_6444714104002183168_n.jpg` for `Tapete PortoFino` ...</div>
<div class='progress-msg'>[20:17:07] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38779922_1898472840455903_6444714104002183168_n.jpg` by URL...</div>
<div class='progress-msg'>[20:17:07] - <b>ATENÇÃO</b> Imagem 38779922_1898472840455903_6444714104002183168_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:07] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38779922_1898472840455903_6444714104002183168_n.jpg`</div>
<div class='progress-msg'>[20:17:07] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38779922_1898472840455903_6444714104002183168_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:07] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/38779922_1898472840455903_6444714104002183168_n.jpg`</div>
<div class='progress-msg'>[20:17:09] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:09] - Attachment with ID: `1072` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/38779922_1898472840455903_6444714104002183168_n.jpg`</div>
<div class='progress-msg'>[20:17:09] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/porto-fin.jpg` for `Tapete PortoFino` ...</div>
<div class='progress-msg'>[20:17:09] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/porto-fin.jpg` by URL...</div>
<div class='progress-msg'>[20:17:09] - <b>ATENÇÃO</b> Imagem porto-fin.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:09] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/porto-fin.jpg`</div>
<div class='progress-msg'>[20:17:09] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/porto-fin.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:09] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/porto-fin.jpg`</div>
<div class='progress-msg'>[20:17:10] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:10] - Attachment with ID: `1073` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/porto-fin.jpg`</div>
<div class='progress-msg'>[20:17:10] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/b43e635e-bf9c-4318-9f6b-33f82adf9150.jpg` for `Tapete PortoFino` ...</div>
<div class='progress-msg'>[20:17:10] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/b43e635e-bf9c-4318-9f6b-33f82adf9150.jpg` by URL...</div>
<div class='progress-msg'>[20:17:10] - <b>ATENÇÃO</b> Imagem b43e635e-bf9c-4318-9f6b-33f82adf9150.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:10] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/b43e635e-bf9c-4318-9f6b-33f82adf9150.jpg`</div>
<div class='progress-msg'>[20:17:10] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/b43e635e-bf9c-4318-9f6b-33f82adf9150.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:10] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/b43e635e-bf9c-4318-9f6b-33f82adf9150.jpg`</div>
<div class='progress-msg'>[20:17:13] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:13] - Attachment with ID: `1074` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/b43e635e-bf9c-4318-9f6b-33f82adf9150.jpg`</div>
<div class='progress-msg'>[20:17:13] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/a4092a69-3937-4f42-ae46-971723ecf5be.jpg` for `Tapete PortoFino` ...</div>
<div class='progress-msg'>[20:17:13] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/a4092a69-3937-4f42-ae46-971723ecf5be.jpg` by URL...</div>
<div class='progress-msg'>[20:17:13] - <b>ATENÇÃO</b> Imagem a4092a69-3937-4f42-ae46-971723ecf5be.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:13] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/a4092a69-3937-4f42-ae46-971723ecf5be.jpg`</div>
<div class='progress-msg'>[20:17:13] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/a4092a69-3937-4f42-ae46-971723ecf5be.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:13] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/a4092a69-3937-4f42-ae46-971723ecf5be.jpg`</div>
<div class='progress-msg'>[20:17:15] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:15] - Attachment with ID: `1075` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/a4092a69-3937-4f42-ae46-971723ecf5be.jpg`</div>
<div class='progress-msg'>[20:17:15] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/3394c576-0959-4488-9c84-6dbd8516c385.jpg` for `Tapete PortoFino` ...</div>
<div class='progress-msg'>[20:17:15] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/3394c576-0959-4488-9c84-6dbd8516c385.jpg` by URL...</div>
<div class='progress-msg'>[20:17:15] - <b>ATENÇÃO</b> Imagem 3394c576-0959-4488-9c84-6dbd8516c385.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:15] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/3394c576-0959-4488-9c84-6dbd8516c385.jpg`</div>
<div class='progress-msg'>[20:17:15] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/3394c576-0959-4488-9c84-6dbd8516c385.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:15] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3394c576-0959-4488-9c84-6dbd8516c385.jpg`</div>
<div class='progress-msg'>[20:17:17] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:17] - Attachment with ID: `1076` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3394c576-0959-4488-9c84-6dbd8516c385.jpg`</div>
<div class='progress-msg'>[20:17:17] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/portofino-manchado.jpg` for `Tapete PortoFino` ...</div>
<div class='progress-msg'>[20:17:17] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/portofino-manchado.jpg` by URL...</div>
<div class='progress-msg'>[20:17:17] - <b>ATENÇÃO</b> Imagem portofino-manchado.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:17] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/portofino-manchado.jpg`</div>
<div class='progress-msg'>[20:17:18] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/portofino-manchado.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:18] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/portofino-manchado.jpg`</div>
<div class='progress-msg'>[20:17:20] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:20] - Attachment with ID: `1077` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/portofino-manchado.jpg`</div>
<div class='progress-msg'>[20:17:20] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/36578815_1865617593741428_5775411268454187008_n.jpg` for `Tapete PortoFino` ...</div>
<div class='progress-msg'>[20:17:20] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/36578815_1865617593741428_5775411268454187008_n.jpg` by URL...</div>
<div class='progress-msg'>[20:17:20] - <b>ATENÇÃO</b> Imagem 36578815_1865617593741428_5775411268454187008_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:20] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/36578815_1865617593741428_5775411268454187008_n.jpg`</div>
<div class='progress-msg'>[20:17:20] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/36578815_1865617593741428_5775411268454187008_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:20] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/36578815_1865617593741428_5775411268454187008_n.jpg`</div>
<div class='progress-msg'>[20:17:21] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:21] - Attachment with ID: `1078` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/36578815_1865617593741428_5775411268454187008_n.jpg`</div>
<div class='progress-msg'>[20:17:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38289235_1891756284460892_4766042444351406080_n.jpg` for `Tapete PortoFino` ...</div>
<div class='progress-msg'>[20:17:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38289235_1891756284460892_4766042444351406080_n.jpg` by URL...</div>
<div class='progress-msg'>[20:17:21] - <b>ATENÇÃO</b> Imagem 38289235_1891756284460892_4766042444351406080_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:21] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38289235_1891756284460892_4766042444351406080_n.jpg`</div>
<div class='progress-msg'>[20:17:21] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38289235_1891756284460892_4766042444351406080_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:21] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/38289235_1891756284460892_4766042444351406080_n.jpg`</div>
<div class='progress-msg'>[20:17:23] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:23] - Attachment with ID: `1079` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/38289235_1891756284460892_4766042444351406080_n.jpg`</div>
<div class='progress-msg'>[20:17:23] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/37848477_1885850515051469_924855820611485696_n.jpg` for `Tapete PortoFino` ...</div>
<div class='progress-msg'>[20:17:23] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/37848477_1885850515051469_924855820611485696_n.jpg` by URL...</div>
<div class='progress-msg'>[20:17:23] - <b>ATENÇÃO</b> Imagem 37848477_1885850515051469_924855820611485696_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:23] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/37848477_1885850515051469_924855820611485696_n.jpg`</div>
<div class='progress-msg'>[20:17:23] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/37848477_1885850515051469_924855820611485696_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:23] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/37848477_1885850515051469_924855820611485696_n.jpg`</div>
<div class='progress-msg'>[20:17:25] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:25] - Attachment with ID: `1080` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/37848477_1885850515051469_924855820611485696_n.jpg`</div>
<div class='progress-msg'>[20:17:25] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[20:17:25] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o filho Produto product_cat `Lançamentos|Tapetes`, duplicado detectado. Importando Produto para `Lançamentos|Tapetes` existente, ID 0, slug `58`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o filho Produto product_cat `Tapetes Turcos|Tapetes`, duplicado detectado. Importando Produto para `Tapetes Turcos|Tapetes` existente, ID 0, slug `74`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o filho Produto product_cat `Tapetes Via Star`, duplicado detectado. Importando Produto para `Tapetes Via Star` existente, ID 0, slug `75`...</div>
<div class='progress-msg'>[20:17:25] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[20:17:25] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o pai Produto tamanho_tapetes `0,50 x 1,00m`, duplicado detectado. Importando Produto para `0,50 x 1,00m` existente, ID 0, slug `33`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o pai Produto tamanho_tapetes `1,00 x 1,50m`, duplicado detectado. Importando Produto para `1,00 x 1,50m` existente, ID 0, slug `45`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o pai Produto tamanho_tapetes `1,50 x 2,00m`, duplicado detectado. Importando Produto para `1,50 x 2,00m` existente, ID 0, slug `46`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 3,00m`, duplicado detectado. Importando Produto para `2,00 x 3,00m` existente, ID 0, slug `29`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,00m`, duplicado detectado. Importando Produto para `2,50 x 3,00m` existente, ID 0, slug `37`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,50m`, duplicado detectado. Importando Produto para `2,50 x 3,50m` existente, ID 0, slug `48`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Consulta`, duplicado detectado. Importando Produto para `Sob Consulta` existente, ID 0, slug `57`...</div>
<div class='progress-msg'>[20:17:25] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Medida`, duplicado detectado. Importando Produto para `Sob Medida` existente, ID 0, slug `39`...</div>
<div class='progress-msg'>[20:17:25] <b>CRIADO</b> `Tapete PortoFino` `Produto` (ID: 1071)</div>
<div class='progress-msg'>[20:17:25] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[20:17:25] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[20:17:28] ---</div>
<div class='progress-msg'>[20:17:28] Registros #86</div>
<div class='progress-msg'>[20:17:28] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[20:17:28] Combinar todos os dados para o post Tapete Bristol ...</div>
<div class='progress-msg'>[20:17:28] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapete Bristol`...</div>
<div class='progress-msg'>[20:17:28] A postagem duplicada não foi encontrada com a chave exclusiva `3054`...</div>
<div class='progress-msg'>[20:17:28] Aplicando filtros `pmxi_article_data` para `Tapete Bristol`</div>
<div class='progress-msg'>[20:17:28] <b>CRIANDO</b> `Tapete Bristol` `Produto`</div>
<div class='progress-msg'>[20:17:28] Postagem associada `Tapete Bristol` com a importação atual...</div>
<div class='progress-msg'>[20:17:29] <b>IMAGENS:</b></div>
<div class='progress-msg'>[20:17:29] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/36616257_1863722473930940_5860455705428885504_n.jpg` for `Tapete Bristol` ...</div>
<div class='progress-msg'>[20:17:29] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/36616257_1863722473930940_5860455705428885504_n.jpg` by URL...</div>
<div class='progress-msg'>[20:17:29] - <b>ATENÇÃO</b> Imagem 36616257_1863722473930940_5860455705428885504_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:29] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/36616257_1863722473930940_5860455705428885504_n.jpg`</div>
<div class='progress-msg'>[20:17:29] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/36616257_1863722473930940_5860455705428885504_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:29] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/36616257_1863722473930940_5860455705428885504_n.jpg`</div>
<div class='progress-msg'>[20:17:31] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:31] - Attachment with ID: `1082` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/36616257_1863722473930940_5860455705428885504_n.jpg`</div>
<div class='progress-msg'>[20:17:31] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/bristol-552.jpg` for `Tapete Bristol` ...</div>
<div class='progress-msg'>[20:17:31] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/bristol-552.jpg` by URL...</div>
<div class='progress-msg'>[20:17:31] - <b>ATENÇÃO</b> Imagem bristol-552.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:31] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/bristol-552.jpg`</div>
<div class='progress-msg'>[20:17:31] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/bristol-552.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:31] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/bristol-552.jpg`</div>
<div class='progress-msg'>[20:17:32] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:32] - Attachment with ID: `1083` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/bristol-552.jpg`</div>
<div class='progress-msg'>[20:17:32] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/34415312_1844036799232841_6562901300361560064_n.jpg` for `Tapete Bristol` ...</div>
<div class='progress-msg'>[20:17:32] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/34415312_1844036799232841_6562901300361560064_n.jpg` by URL...</div>
<div class='progress-msg'>[20:17:32] - <b>ATENÇÃO</b> Imagem 34415312_1844036799232841_6562901300361560064_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:32] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/34415312_1844036799232841_6562901300361560064_n.jpg`</div>
<div class='progress-msg'>[20:17:32] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/34415312_1844036799232841_6562901300361560064_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:32] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/34415312_1844036799232841_6562901300361560064_n.jpg`</div>
<div class='progress-msg'>[20:17:34] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:34] - Attachment with ID: `1084` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/34415312_1844036799232841_6562901300361560064_n.jpg`</div>
<div class='progress-msg'>[20:17:34] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[20:17:34] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o filho Produto product_cat `Lançamentos|Tapetes`, duplicado detectado. Importando Produto para `Lançamentos|Tapetes` existente, ID 0, slug `58`...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o filho Produto product_cat `Tapetes Turcos|Tapetes`, duplicado detectado. Importando Produto para `Tapetes Turcos|Tapetes` existente, ID 0, slug `74`...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o filho Produto product_cat `Tapetes Via Star`, duplicado detectado. Importando Produto para `Tapetes Via Star` existente, ID 0, slug `75`...</div>
<div class='progress-msg'>[20:17:34] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[20:17:34] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o pai Produto tamanho_tapetes `0,50 x 1,00m`, duplicado detectado. Importando Produto para `0,50 x 1,00m` existente, ID 0, slug `33`...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o pai Produto tamanho_tapetes `1,00 x 1,50m`, duplicado detectado. Importando Produto para `1,00 x 1,50m` existente, ID 0, slug `45`...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o pai Produto tamanho_tapetes `1,50 x 2,00m`, duplicado detectado. Importando Produto para `1,50 x 2,00m` existente, ID 0, slug `46`...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 3,00m`, duplicado detectado. Importando Produto para `2,00 x 3,00m` existente, ID 0, slug `29`...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o pai Produto tamanho_tapetes `3,00 x 4,00m`, duplicado detectado. Importando Produto para `3,00 x 4,00m` existente, ID 0, slug `38`...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Consulta`, duplicado detectado. Importando Produto para `Sob Consulta` existente, ID 0, slug `57`...</div>
<div class='progress-msg'>[20:17:34] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Medida`, duplicado detectado. Importando Produto para `Sob Medida` existente, ID 0, slug `39`...</div>
<div class='progress-msg'>[20:17:34] <b>CRIADO</b> `Tapete Bristol` `Produto` (ID: 1081)</div>
<div class='progress-msg'>[20:17:34] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[20:17:34] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[20:17:37] ---</div>
<div class='progress-msg'>[20:17:37] Registros #87</div>
<div class='progress-msg'>[20:17:37] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[20:17:37] Combinar todos os dados para o post Tapete New Essence ...</div>
<div class='progress-msg'>[20:17:37] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapete New Essence`...</div>
<div class='progress-msg'>[20:17:37] A postagem duplicada não foi encontrada com a chave exclusiva `3069`...</div>
<div class='progress-msg'>[20:17:37] Aplicando filtros `pmxi_article_data` para `Tapete New Essence`</div>
<div class='progress-msg'>[20:17:37] <b>CRIANDO</b> `Tapete New Essence` `Produto`</div>
<div class='progress-msg'>[20:17:37] Postagem associada `Tapete New Essence` com a importação atual...</div>
<div class='progress-msg'>[20:17:38] <b>IMAGENS:</b></div>
<div class='progress-msg'>[20:17:38] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/02/32665337_1836541379982383_5485442311015890944_n.jpg` for `Tapete New Essence` ...</div>
<div class='progress-msg'>[20:17:38] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/02/32665337_1836541379982383_5485442311015890944_n.jpg` by URL...</div>
<div class='progress-msg'>[20:17:38] - Usando a imagem existente `32665337_1836541379982383_5485442311015890944_n.jpg` para o post `Tapete New Essence` ...</div>
<div class='progress-msg'>[20:17:38] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:38] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/new-essence.jpg` for `Tapete New Essence` ...</div>
<div class='progress-msg'>[20:17:38] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/new-essence.jpg` by URL...</div>
<div class='progress-msg'>[20:17:38] - <b>ATENÇÃO</b> Imagem new-essence.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:38] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/new-essence.jpg`</div>
<div class='progress-msg'>[20:17:38] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/new-essence.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:38] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/new-essence.jpg`</div>
<div class='progress-msg'>[20:17:40] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:40] - Attachment with ID: `1086` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/new-essence.jpg`</div>
<div class='progress-msg'>[20:17:40] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/new-essence-novo.jpg` for `Tapete New Essence` ...</div>
<div class='progress-msg'>[20:17:40] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/new-essence-novo.jpg` by URL...</div>
<div class='progress-msg'>[20:17:40] - <b>ATENÇÃO</b> Imagem new-essence-novo.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:40] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/new-essence-novo.jpg`</div>
<div class='progress-msg'>[20:17:40] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/new-essence-novo.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:40] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/new-essence-novo.jpg`</div>
<div class='progress-msg'>[20:17:43] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:43] - Attachment with ID: `1087` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/new-essence-novo.jpg`</div>
<div class='progress-msg'>[20:17:43] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[20:17:43] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[20:17:43] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[20:17:43] - Tentativa de criar o filho Produto product_cat `Lançamentos|Tapetes`, duplicado detectado. Importando Produto para `Lançamentos|Tapetes` existente, ID 0, slug `58`...</div>
<div class='progress-msg'>[20:17:43] - Criando filho Produto product_cat para Lançamentos|Tapetes chamado `Tapetes Belgas|Tapetes` ...</div>
<div class='progress-msg'>[20:17:43] - Criando filho Produto product_cat para Tapetes Belgas|Tapetes chamado `Tapetes Via Star` ...</div>
<div class='progress-msg'>[20:17:43] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[20:17:43] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[20:17:43] - Tentativa de criar o pai Produto tamanho_tapetes `0,50 x 1,00m`, duplicado detectado. Importando Produto para `0,50 x 1,00m` existente, ID 0, slug `33`...</div>
<div class='progress-msg'>[20:17:43] - Tentativa de criar o pai Produto tamanho_tapetes `1,00 x 1,50m`, duplicado detectado. Importando Produto para `1,00 x 1,50m` existente, ID 0, slug `45`...</div>
<div class='progress-msg'>[20:17:43] - Tentativa de criar o pai Produto tamanho_tapetes `1,50 x 2,00m`, duplicado detectado. Importando Produto para `1,50 x 2,00m` existente, ID 0, slug `46`...</div>
<div class='progress-msg'>[20:17:44] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,00m`, duplicado detectado. Importando Produto para `2,00 x 2,00m` existente, ID 0, slug `56`...</div>
<div class='progress-msg'>[20:17:44] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[20:17:44] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 3,00m`, duplicado detectado. Importando Produto para `2,00 x 3,00m` existente, ID 0, slug `29`...</div>
<div class='progress-msg'>[20:17:44] - Tentativa de criar o pai Produto tamanho_tapetes `3,00 x 4,00m`, duplicado detectado. Importando Produto para `3,00 x 4,00m` existente, ID 0, slug `38`...</div>
<div class='progress-msg'>[20:17:44] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Consulta`, duplicado detectado. Importando Produto para `Sob Consulta` existente, ID 0, slug `57`...</div>
<div class='progress-msg'>[20:17:44] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Medida`, duplicado detectado. Importando Produto para `Sob Medida` existente, ID 0, slug `39`...</div>
<div class='progress-msg'>[20:17:44] <b>CRIADO</b> `Tapete New Essence` `Produto` (ID: 1085)</div>
<div class='progress-msg'>[20:17:44] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[20:17:44] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[20:17:49] ---</div>
<div class='progress-msg'>[20:17:49] Registros #88</div>
<div class='progress-msg'>[20:17:49] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[20:17:49] Combinar todos os dados para o post Tapete Zurich ...</div>
<div class='progress-msg'>[20:17:49] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapete Zurich`...</div>
<div class='progress-msg'>[20:17:49] A postagem duplicada não foi encontrada com a chave exclusiva `3120`...</div>
<div class='progress-msg'>[20:17:49] Aplicando filtros `pmxi_article_data` para `Tapete Zurich`</div>
<div class='progress-msg'>[20:17:49] <b>CRIANDO</b> `Tapete Zurich` `Produto`</div>
<div class='progress-msg'>[20:17:49] Postagem associada `Tapete Zurich` com a importação atual...</div>
<div class='progress-msg'>[20:17:49] <b>IMAGENS:</b></div>
<div class='progress-msg'>[20:17:49] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/2.jpg` for `Tapete Zurich` ...</div>
<div class='progress-msg'>[20:17:49] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/2.jpg` by URL...</div>
<div class='progress-msg'>[20:17:49] - <b>ATENÇÃO</b> Imagem 2.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:49] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/2.jpg`</div>
<div class='progress-msg'>[20:17:49] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/2.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:49] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/2.jpg`</div>
<div class='progress-msg'>[20:17:52] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:52] - Attachment with ID: `1089` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/2.jpg`</div>
<div class='progress-msg'>[20:17:52] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/20.jpg` for `Tapete Zurich` ...</div>
<div class='progress-msg'>[20:17:52] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/20.jpg` by URL...</div>
<div class='progress-msg'>[20:17:52] - <b>ATENÇÃO</b> Imagem 20.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:52] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/20.jpg`</div>
<div class='progress-msg'>[20:17:52] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/20.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:52] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/20.jpg`</div>
<div class='progress-msg'>[20:17:54] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:54] - Attachment with ID: `1090` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/20.jpg`</div>
<div class='progress-msg'>[20:17:54] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/15.jpg` for `Tapete Zurich` ...</div>
<div class='progress-msg'>[20:17:54] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/15.jpg` by URL...</div>
<div class='progress-msg'>[20:17:54] - <b>ATENÇÃO</b> Imagem 15.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:54] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/15.jpg`</div>
<div class='progress-msg'>[20:17:54] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/15.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:54] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/15.jpg`</div>
<div class='progress-msg'>[20:17:56] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:56] - Attachment with ID: `1091` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/15.jpg`</div>
<div class='progress-msg'>[20:17:56] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/14.jpg` for `Tapete Zurich` ...</div>
<div class='progress-msg'>[20:17:56] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/14.jpg` by URL...</div>
<div class='progress-msg'>[20:17:56] - <b>ATENÇÃO</b> Imagem 14.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:56] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/14.jpg`</div>
<div class='progress-msg'>[20:17:56] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/14.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:56] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/14.jpg`</div>
<div class='progress-msg'>[20:17:58] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:17:58] - Attachment with ID: `1092` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/14.jpg`</div>
<div class='progress-msg'>[20:17:58] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/12.jpg` for `Tapete Zurich` ...</div>
<div class='progress-msg'>[20:17:58] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/12.jpg` by URL...</div>
<div class='progress-msg'>[20:17:58] - <b>ATENÇÃO</b> Imagem 12.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:17:58] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/12.jpg`</div>
<div class='progress-msg'>[20:17:58] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/12.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:17:58] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/12.jpg`</div>
<div class='progress-msg'>[20:18:00] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:00] - Attachment with ID: `1093` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/12.jpg`</div>
<div class='progress-msg'>[20:18:00] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/9.jpg` for `Tapete Zurich` ...</div>
<div class='progress-msg'>[20:18:00] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/9.jpg` by URL...</div>
<div class='progress-msg'>[20:18:00] - <b>ATENÇÃO</b> Imagem 9.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:00] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/9.jpg`</div>
<div class='progress-msg'>[20:18:00] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/9.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:00] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/9.jpg`</div>
<div class='progress-msg'>[20:18:03] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:03] - Attachment with ID: `1094` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/9.jpg`</div>
<div class='progress-msg'>[20:18:03] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/8.jpg` for `Tapete Zurich` ...</div>
<div class='progress-msg'>[20:18:03] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/8.jpg` by URL...</div>
<div class='progress-msg'>[20:18:03] - <b>ATENÇÃO</b> Imagem 8.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:03] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/8.jpg`</div>
<div class='progress-msg'>[20:18:03] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/8.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:03] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/8.jpg`</div>
<div class='progress-msg'>[20:18:05] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:05] - Attachment with ID: `1095` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/8.jpg`</div>
<div class='progress-msg'>[20:18:05] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/5.jpg` for `Tapete Zurich` ...</div>
<div class='progress-msg'>[20:18:05] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/5.jpg` by URL...</div>
<div class='progress-msg'>[20:18:05] - <b>ATENÇÃO</b> Imagem 5.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:05] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/5.jpg`</div>
<div class='progress-msg'>[20:18:05] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/5.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:05] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/5.jpg`</div>
<div class='progress-msg'>[20:18:07] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:07] - Attachment with ID: `1096` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/5.jpg`</div>
<div class='progress-msg'>[20:18:07] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/3.jpg` for `Tapete Zurich` ...</div>
<div class='progress-msg'>[20:18:07] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/3.jpg` by URL...</div>
<div class='progress-msg'>[20:18:07] - <b>ATENÇÃO</b> Imagem 3.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:07] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/3.jpg`</div>
<div class='progress-msg'>[20:18:07] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/3.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:07] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3.jpg`</div>
<div class='progress-msg'>[20:18:10] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:10] - Attachment with ID: `1097` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3.jpg`</div>
<div class='progress-msg'>[20:18:10] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[20:18:10] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[20:18:10] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[20:18:10] - Tentativa de criar o filho Produto product_cat `Lançamentos|Tapetes`, duplicado detectado. Importando Produto para `Lançamentos|Tapetes` existente, ID 0, slug `58`...</div>
<div class='progress-msg'>[20:18:10] - Criando filho Produto product_cat para Lançamentos|Tapetes chamado `Tapetes Egípicios` ...</div>
<div class='progress-msg'>[20:18:10] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[20:18:10] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[20:18:10] - Tentativa de criar o pai Produto tamanho_tapetes `1,50 x 2,00m`, duplicado detectado. Importando Produto para `1,50 x 2,00m` existente, ID 0, slug `46`...</div>
<div class='progress-msg'>[20:18:10] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[20:18:10] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 3,00m`, duplicado detectado. Importando Produto para `2,00 x 3,00m` existente, ID 0, slug `29`...</div>
<div class='progress-msg'>[20:18:10] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,50m`, duplicado detectado. Importando Produto para `2,50 x 3,50m` existente, ID 0, slug `48`...</div>
<div class='progress-msg'>[20:18:10] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Consulta`, duplicado detectado. Importando Produto para `Sob Consulta` existente, ID 0, slug `57`...</div>
<div class='progress-msg'>[20:18:10] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Medida`, duplicado detectado. Importando Produto para `Sob Medida` existente, ID 0, slug `39`...</div>
<div class='progress-msg'>[20:18:10] <b>CRIADO</b> `Tapete Zurich` `Produto` (ID: 1088)</div>
<div class='progress-msg'>[20:18:11] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[20:18:11] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[20:18:15] ---</div>
<div class='progress-msg'>[20:18:15] Registros #89</div>
<div class='progress-msg'>[20:18:15] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[20:18:15] Combinar todos os dados para o post Tapete Prisma ...</div>
<div class='progress-msg'>[20:18:15] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapete Prisma`...</div>
<div class='progress-msg'>[20:18:15] A postagem duplicada não foi encontrada com a chave exclusiva `3130`...</div>
<div class='progress-msg'>[20:18:15] Aplicando filtros `pmxi_article_data` para `Tapete Prisma`</div>
<div class='progress-msg'>[20:18:15] <b>CRIANDO</b> `Tapete Prisma` `Produto`</div>
<div class='progress-msg'>[20:18:15] Postagem associada `Tapete Prisma` com a importação atual...</div>
<div class='progress-msg'>[20:18:15] <b>IMAGENS:</b></div>
<div class='progress-msg'>[20:18:15] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/15.jpg` for `Tapete Prisma` ...</div>
<div class='progress-msg'>[20:18:15] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/15.jpg` by URL...</div>
<div class='progress-msg'>[20:18:15] - Usando a imagem existente `15.jpg` para o post `Tapete Prisma` ...</div>
<div class='progress-msg'>[20:18:15] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:15] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[20:18:15] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[20:18:15] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[20:18:15] - Tentativa de criar o filho Produto product_cat `Tapetes Belgas|Tapetes`, duplicado detectado. Importando Produto para `Tapetes Belgas|Tapetes` existente, ID 0, slug `66`...</div>
<div class='progress-msg'>[20:18:15] - Tentativa de criar o filho Produto product_cat `Tapetes Via Star`, duplicado detectado. Importando Produto para `Tapetes Via Star` existente, ID 0, slug `67`...</div>
<div class='progress-msg'>[20:18:15] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[20:18:15] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[20:18:16] - Tentativa de criar o pai Produto tamanho_tapetes `1,40 x 2,00m`, duplicado detectado. Importando Produto para `1,40 x 2,00m` existente, ID 0, slug `27`...</div>
<div class='progress-msg'>[20:18:16] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[20:18:16] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,90m`, duplicado detectado. Importando Produto para `2,00 x 2,90m` existente, ID 0, slug `41`...</div>
<div class='progress-msg'>[20:18:16] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Consulta`, duplicado detectado. Importando Produto para `Sob Consulta` existente, ID 0, slug `57`...</div>
<div class='progress-msg'>[20:18:16] <b>CRIADO</b> `Tapete Prisma` `Produto` (ID: 1098)</div>
<div class='progress-msg'>[20:18:16] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[20:18:16] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[20:18:20] ---</div>
<div class='progress-msg'>[20:18:20] Registros #90</div>
<div class='progress-msg'>[20:18:20] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[20:18:20] Combinar todos os dados para o post Tapete Outdoor ...</div>
<div class='progress-msg'>[20:18:20] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapete Outdoor`...</div>
<div class='progress-msg'>[20:18:20] A postagem duplicada não foi encontrada com a chave exclusiva `3141`...</div>
<div class='progress-msg'>[20:18:20] Aplicando filtros `pmxi_article_data` para `Tapete Outdoor`</div>
<div class='progress-msg'>[20:18:20] <b>CRIANDO</b> `Tapete Outdoor` `Produto`</div>
<div class='progress-msg'>[20:18:21] Postagem associada `Tapete Outdoor` com a importação atual...</div>
<div class='progress-msg'>[20:18:21] <b>IMAGENS:</b></div>
<div class='progress-msg'>[20:18:21] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/58871Cestaria-Outdoor-amb.jpg` for `Tapete Outdoor` ...</div>
<div class='progress-msg'>[20:18:21] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/58871Cestaria-Outdoor-amb.jpg` by URL...</div>
<div class='progress-msg'>[20:18:21] - <b>ATENÇÃO</b> Imagem 58871Cestaria-Outdoor-amb.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:21] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/58871Cestaria-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:21] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/58871Cestaria-Outdoor-amb.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:21] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/58871Cestaria-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:22] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:22] - Attachment with ID: `1100` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/58871Cestaria-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:22] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/80352Floral-Outdoor-amb.jpg` for `Tapete Outdoor` ...</div>
<div class='progress-msg'>[20:18:22] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/80352Floral-Outdoor-amb.jpg` by URL...</div>
<div class='progress-msg'>[20:18:22] - <b>ATENÇÃO</b> Imagem 80352Floral-Outdoor-amb.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:22] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/80352Floral-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:22] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/80352Floral-Outdoor-amb.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:22] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/80352Floral-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:22] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:22] - Attachment with ID: `1101` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/80352Floral-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:22] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/56712Geometrico-Outdoor-amb.jpg` for `Tapete Outdoor` ...</div>
<div class='progress-msg'>[20:18:22] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/56712Geometrico-Outdoor-amb.jpg` by URL...</div>
<div class='progress-msg'>[20:18:22] - <b>ATENÇÃO</b> Imagem 56712Geometrico-Outdoor-amb.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:22] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/56712Geometrico-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:22] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/56712Geometrico-Outdoor-amb.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:22] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/56712Geometrico-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:23] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:23] - Attachment with ID: `1102` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/56712Geometrico-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:23] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/56231Textura-Outdoor-amb.jpg` for `Tapete Outdoor` ...</div>
<div class='progress-msg'>[20:18:23] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/56231Textura-Outdoor-amb.jpg` by URL...</div>
<div class='progress-msg'>[20:18:23] - <b>ATENÇÃO</b> Imagem 56231Textura-Outdoor-amb.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:23] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/56231Textura-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:23] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/56231Textura-Outdoor-amb.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:23] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/56231Textura-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:24] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:24] - Attachment with ID: `1103` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/56231Textura-Outdoor-amb.jpg`</div>
<div class='progress-msg'>[20:18:24] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[20:18:24] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[20:18:24] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[20:18:24] - Tentativa de criar o filho Produto product_cat `Lançamentos|Tapetes`, duplicado detectado. Importando Produto para `Lançamentos|Tapetes` existente, ID 0, slug `58`...</div>
<div class='progress-msg'>[20:18:24] - Tentativa de criar o filho Produto product_cat `Tapetes São Carlos`, duplicado detectado. Importando Produto para `Tapetes São Carlos` existente, ID 0, slug `59`...</div>
<div class='progress-msg'>[20:18:24] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[20:18:24] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[20:18:24] - Tentativa de criar o pai Produto tamanho_tapetes `1,00 x 1,50m`, duplicado detectado. Importando Produto para `1,00 x 1,50m` existente, ID 0, slug `45`...</div>
<div class='progress-msg'>[20:18:24] - Tentativa de criar o pai Produto tamanho_tapetes `1,50 x 2,00m`, duplicado detectado. Importando Produto para `1,50 x 2,00m` existente, ID 0, slug `46`...</div>
<div class='progress-msg'>[20:18:24] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[20:18:24] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 3,00m`, duplicado detectado. Importando Produto para `2,00 x 3,00m` existente, ID 0, slug `29`...</div>
<div class='progress-msg'>[20:18:24] <b>CRIADO</b> `Tapete Outdoor` `Produto` (ID: 1099)</div>
<div class='progress-msg'>[20:18:24] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[20:18:24] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[20:18:29] ---</div>
<div class='progress-msg'>[20:18:29] Registros #91</div>
<div class='progress-msg'>[20:18:29] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[20:18:29] Combinar todos os dados para o post Tapete Sofistik ...</div>
<div class='progress-msg'>[20:18:29] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapete Sofistik`...</div>
<div class='progress-msg'>[20:18:29] A postagem duplicada não foi encontrada com a chave exclusiva `3146`...</div>
<div class='progress-msg'>[20:18:29] Aplicando filtros `pmxi_article_data` para `Tapete Sofistik`</div>
<div class='progress-msg'>[20:18:29] <b>CRIANDO</b> `Tapete Sofistik` `Produto`</div>
<div class='progress-msg'>[20:18:29] Postagem associada `Tapete Sofistik` com a importação atual...</div>
<div class='progress-msg'>[20:18:30] <b>IMAGENS:</b></div>
<div class='progress-msg'>[20:18:30] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/49053sofistik_0116primoroso.jpg` for `Tapete Sofistik` ...</div>
<div class='progress-msg'>[20:18:30] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/49053sofistik_0116primoroso.jpg` by URL...</div>
<div class='progress-msg'>[20:18:30] - <b>ATENÇÃO</b> Imagem 49053sofistik_0116primoroso.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:30] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/49053sofistik_0116primoroso.jpg`</div>
<div class='progress-msg'>[20:18:30] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/49053sofistik_0116primoroso.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:30] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/49053sofistik_0116primoroso.jpg`</div>
<div class='progress-msg'>[20:18:31] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:31] - Attachment with ID: `1105` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/49053sofistik_0116primoroso.jpg`</div>
<div class='progress-msg'>[20:18:31] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/49287sofistik_0576chique.jpg` for `Tapete Sofistik` ...</div>
<div class='progress-msg'>[20:18:31] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/49287sofistik_0576chique.jpg` by URL...</div>
<div class='progress-msg'>[20:18:31] - <b>ATENÇÃO</b> Imagem 49287sofistik_0576chique.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:31] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/49287sofistik_0576chique.jpg`</div>
<div class='progress-msg'>[20:18:32] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/49287sofistik_0576chique.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:32] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/49287sofistik_0576chique.jpg`</div>
<div class='progress-msg'>[20:18:33] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:33] - Attachment with ID: `1106` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/49287sofistik_0576chique.jpg`</div>
<div class='progress-msg'>[20:18:33] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38822sofistik_0377requinte.jpg` for `Tapete Sofistik` ...</div>
<div class='progress-msg'>[20:18:33] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38822sofistik_0377requinte.jpg` by URL...</div>
<div class='progress-msg'>[20:18:33] - <b>ATENÇÃO</b> Imagem 38822sofistik_0377requinte.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:33] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38822sofistik_0377requinte.jpg`</div>
<div class='progress-msg'>[20:18:33] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/38822sofistik_0377requinte.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:33] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/38822sofistik_0377requinte.jpg`</div>
<div class='progress-msg'>[20:18:35] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:35] - Attachment with ID: `1107` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/38822sofistik_0377requinte.jpg`</div>
<div class='progress-msg'>[20:18:35] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/32045sofistik_0471elegante.jpg` for `Tapete Sofistik` ...</div>
<div class='progress-msg'>[20:18:35] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/32045sofistik_0471elegante.jpg` by URL...</div>
<div class='progress-msg'>[20:18:35] - <b>ATENÇÃO</b> Imagem 32045sofistik_0471elegante.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:35] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/32045sofistik_0471elegante.jpg`</div>
<div class='progress-msg'>[20:18:35] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/32045sofistik_0471elegante.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:35] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/32045sofistik_0471elegante.jpg`</div>
<div class='progress-msg'>[20:18:37] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:37] - Attachment with ID: `1108` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/32045sofistik_0471elegante.jpg`</div>
<div class='progress-msg'>[20:18:37] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/22264sofistik_0267fino.jpg` for `Tapete Sofistik` ...</div>
<div class='progress-msg'>[20:18:37] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/22264sofistik_0267fino.jpg` by URL...</div>
<div class='progress-msg'>[20:18:37] - <b>ATENÇÃO</b> Imagem 22264sofistik_0267fino.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[20:18:37] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/22264sofistik_0267fino.jpg`</div>
<div class='progress-msg'>[20:18:37] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2018/08/22264sofistik_0267fino.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[20:18:37] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/22264sofistik_0267fino.jpg`</div>
<div class='progress-msg'>[20:18:38] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[20:18:38] - Attachment with ID: `1109` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/22264sofistik_0267fino.jpg`</div>
<div class='progress-msg'>[20:18:38] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[20:18:38] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[20:18:38] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[20:18:38] - Tentativa de criar o filho Produto product_cat `Lançamentos|Tapetes`, duplicado detectado. Importando Produto para `Lançamentos|Tapetes` existente, ID 0, slug `58`...</div>
<div class='progress-msg'>[20:18:38] - Tentativa de criar o filho Produto product_cat `Tapetes São Carlos`, duplicado detectado. Importando Produto para `Tapetes São Carlos` existente, ID 0, slug `59`...</div>
<div class='progress-msg'>[20:18:38] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[20:18:38] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[20:18:38] - Tentativa de criar o pai Produto tamanho_tapetes `1,50 x 2,00m`, duplicado detectado. Importando Produto para `1,50 x 2,00m` existente, ID 0, slug `46`...</div>
<div class='progress-msg'>[20:18:38] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[20:18:38] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,90m`, duplicado detectado. Importando Produto para `2,00 x 2,90m` existente, ID 0, slug `41`...</div>
<div class='progress-msg'>[20:18:38] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,50m`, duplicado detectado. Importando Produto para `2,50 x 3,50m` existente, ID 0, slug `48`...</div>
<div class='progress-msg'>[20:18:38] <b>CRIADO</b> `Tapete Sofistik` `Produto` (ID: 1104)</div>
<div class='progress-msg'>[20:18:38] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[20:18:38] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[20:18:38] Limpar dados temporários...</div>
