/*
 Theme Name:  Storefront Child
 Theme URI:    http://www.woothemes.com/storefront-child/
 Description:  WooThemes Child Theme
 Author:       Adict
 Author URI:   https://adict.com.br
 Template:     storefront
 Version:      2.5.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         tags1,tag2, coloque o que achar importante aqui
 Text Domain: storefront-child
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 992px) {
  .col-full,
  header.site-header .sp-header-row .sp-header-last nav.secondary-navigation .menu-menu-secundario-container,
  header.site-header .sp-header-row .sp-header-last nav.main-navigation .primary-navigation {
    max-width: 1290px;
  }
}


/* ==================================================================================================================== */
/* ==================================================================================================================== */
/* ==================================================================================================================== */
/* ====================================================== HEADER ====================================================== */
/* ==================================================================================================================== */
/* ==================================================================================================================== */
/* ==================================================================================================================== */
header.site-header {
  position: relative;
  padding-top: 42px;
  padding-bottom: 45px;
  border: none;
}
header.site-header .sp-header-row .sp-header-last nav.secondary-navigation {
  background-color: #cccccc;
  position: absolute;
  width: 100% !important;
  left: 0;
  top: 0;
}
header.site-header .sp-header-row .sp-header-last nav.secondary-navigation .menu-menu-secundario-container {
  display: block;
  height: 42px;
  width: 100%;
  margin: auto;
}
header.site-header .sp-header-row .sp-header-last nav.secondary-navigation .menu-menu-secundario-container ul.menu li.menu-item a {
  color: #4c4c4c;
}

header.site-header .sp-header-row:nth-child(2) {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

header.site-header .sp-header-row .sp-header-last nav.main-navigation {
  background-color: #595959;
  position: absolute;
  width: 100% !important;
  left: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0px 10px 8px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 10px 8px -2px rgba(0,0,0,0.2);
  box-shadow: inset 0px 10px 8px -2px rgba(0,0,0,0.2);
}
header.site-header .sp-header-row .sp-header-last nav.main-navigation .primary-navigation {
  margin: auto;
}

header.site-header .sp-header-row .sp-header-last nav.main-navigation .primary-navigation ul.menu.nav-menu {
  margin: auto;
}
header.site-header .sp-header-row .sp-header-last nav.main-navigation .primary-navigation ul.menu.nav-menu li.menu-item:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #817455;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
header.site-header .sp-header-row .sp-header-last nav.main-navigation .primary-navigation ul.menu.nav-menu li.menu-item:hover:after {
  width: 100%;
}
@media (min-width: 992px) {
  header.site-header .sp-header-row .sp-header-last nav.main-navigation .primary-navigation ul.menu.nav-menu {
    display: table;
    width: 100%;
  }
  header.site-header .sp-header-row .sp-header-last nav.main-navigation .primary-navigation ul.menu.nav-menu li.menu-item {
    display: table-cell;
    width: auto;
  }
}

header.site-header .sp-header-row .sp-header-last nav.main-navigation .primary-navigation ul.menu.nav-menu li.menu-item a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  outline: none !important;
  position: relative;
  z-index: 1;
}

/* === carrinho === */
#site-header-cart {
  position: relative;
}
#site-header-cart li:nth-child(2) {
  position: absolute;
  width: 100%;
  right: 100%;
}
#site-header-cart li:nth-child(2) .widget_shopping_cart {
  width: 200%;
}
#site-header-cart li:nth-child(2) .widget_shopping_cart ul.cart_list.product_list_widget li.woocommerce-mini-cart-item {
  position: relative;
  width: auto;
  right: unset;
}
/* === /carrinho === */

/* ============================================================================================================================= */
/* ============================================================================================================================= */
/* ============================================================================================================================= */
/* ====================================================== INTERNA PRODUTO ====================================================== */
/* ============================================================================================================================= */
/* ============================================================================================================================= */
/* ============================================================================================================================= */
/* === breadcrumb === */
.woocommerce .storefront-breadcrumb {
  margin-bottom: 10px;
}
.woocommerce .storefront-breadcrumb nav.woocommerce-breadcrumb {
  border-bottom: 1px solid #a9a9a9;
  padding-bottom: 5px;
}
.woocommerce .storefront-breadcrumb nav.woocommerce-breadcrumb a {
  text-decoration: none;
}

/* === titulo === */
.single-product.woocommerce .product_title.entry-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  margin-bottom: 0px;
}

/* === valor === */
.single-product.woocommerce .price {
  line-height: 35px;
  margin-bottom: 0px !important;
}
.single-product.woocommerce .price span.valor-minimo {
  font-size: 30px;
  font-weight: bold;
  color: #0fb856;
}
.single-product.woocommerce .price del {
  color: #c90000;
  display: block;
  opacity: 1;
  font-weight: bold;
  text-decoration: none;
}
.single-product.woocommerce .price del span.woocommerce-Price-amount {
  text-decoration: line-through;
}
.single-product.woocommerce .price ins {
  margin-left: 0px;
  display: block;
  font-size: 40px;
  font-weight: bold;
  color: #0fb856;
}
.single-product.woocommerce .price ins span.pref-price-now,
.single-product.woocommerce .price ins span.sufix-price {
  font-size: 25px;
}
.single-product.woocommerce .fswp_installments_price.single p.price.fswp_calc {
  margin-top: 0px;
  font-size: 16px;
}

/* === breve descricao === */
.single-product.woocommerce .woocommerce-product-details__short-description {
  margin-top: 30px;
}
/* === /breve descricao === */

/* === botao === */
.single-product.woocommerce form.cart input.input-text.qty.text {
  border: 1px solid #717171;
  box-shadow: none;
  border-radius: 5px;
}
.single-product.woocommerce form.cart button.single_add_to_cart_button.button {
  background-color: #817455;
  padding: 7px 50px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
}
/* === /botao === */

/* === abas === */
.single-product.woocommerce .woocommerce-tabs ul.tabs.wc-tabs {
  margin-right: 0px;
  display: block;
  width: 100%;
  float: unset;


  display: none;
}
.single-product.woocommerce .woocommerce-tabs .panel {
  width: 100%;
}
.single-product.woocommerce .woocommerce-tabs .panel * {
  margin-bottom: 0px;
}
.single-product.woocommerce .woocommerce-tabs .panel .titulo-aba {
  font-weight: bold;
  text-transform: uppercase;
}

.single-product.woocommerce .abas {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.single-product.woocommerce .abas .woocommerce-tabs {
  width: 49%;
  display: inline-block;
  padding-top: 0px;
}
.single-product.woocommerce .abas .woocommerce-tabs .woocommerce-Tabs-panel {
  float: none;
}

.single-product.woocommerce .abas .woocommerce-tabs .contato {
  display: block;
}
.single-product.woocommerce .abas .woocommerce-tabs .contato .compartilhe {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  margin-bottom: 20px;
}
.single-product.woocommerce .abas .woocommerce-tabs .contato .compartilhe p {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.single-product.woocommerce .abas .woocommerce-tabs .contato .compartilhe p span {
  margin-right: 15px;
  font-weight: bold;
  font-size: 20px;
}
.single-product.woocommerce .abas .woocommerce-tabs .contato .compartilhe p a {
  margin-right: 10px;
}
.single-product.woocommerce .abas .woocommerce-tabs .contato .compartilhe p a:last-child {
  margin-right: 0px;
}
.single-product.woocommerce .abas .woocommerce-tabs .contato .compartilhe p a img {
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.single-product.woocommerce .abas .woocommerce-tabs .contato .compartilhe p a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.single-product.woocommerce .abas .woocommerce-tabs .contato .nao-encontrou .botao-sob-medida {
  display: none;
}
.single-product.woocommerce .abas .woocommerce-tabs .contato .nao-encontrou .dados {
  margin-left: -5px;
}
@media (max-width: 992px) {
  .single-product.woocommerce .abas .woocommerce-tabs .contato .nao-encontrou .dados {
    margin-left: 0px;
  }
}
.single-product.woocommerce .abas .woocommerce-tabs .contato .nao-encontrou .titulo {
  font-weight: bold;
  font-size: 18px;
}

.single-product.woocommerce .abas section.produtos-veja-tambem.lateral-aba {
  width: 49%;
  display: inline-block;
}
.single-product.woocommerce .abas section.produtos-veja-tambem.lateral-aba .titulo-veja-tambem {
  font-weight: bold;
  color: white;
  background: #404040;
  padding: 5px 10px;
}
.single-product.woocommerce .abas section.produtos-veja-tambem.lateral-aba a.botao-ver-produtos {
  background-color: #817455;
  color: white;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
}
@media (max-width: 992px) {
  .single-product.woocommerce .abas .woocommerce-tabs {
    width: 100%;
    display: block;
    padding-top: 0px;
  }
  .single-product.woocommerce .abas section.produtos-veja-tambem.lateral-aba {
    width: 100%;
    display: block;
  }
}
/* === /abas === */

/* === imagem produto === */
.single-product.woocommerce div.product .woocommerce-product-gallery .flex-active-slide img {
  margin: auto;
  width: 100%;
  object-fit: contain;
}
/* === /imagem produto === */

/* === variacoes === */
.single-product.woocommerce div.product table.variations {
  padding-bottom: 30px;
  position: relative;
}
.single-product.woocommerce div.product table.variations th,
.single-product.woocommerce div.product table.variations td {
  display: inline-block !important;
}
.single-product.woocommerce div.product table.variations th a.reset_variations,
.single-product.woocommerce div.product table.variations td a.reset_variations {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  margin: 0;
}
.single-product.woocommerce div.product table.variations th .bloco-variacao,
.single-product.woocommerce div.product table.variations td .bloco-variacao {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.single-product.woocommerce div.product table.variations th:first-child .bloco-variacao,
.single-product.woocommerce div.product table.variations td:first-child .bloco-variacao {
  padding-left: 0px;
}
.single-product.woocommerce div.product table.variations th:last-child .bloco-variacao,
.single-product.woocommerce div.product table.variations td:last-child .bloco-variacao {
  padding-right: 0px;
}
.single-product.woocommerce div.product table.variations th .bloco-variacao label,
.single-product.woocommerce div.product table.variations td .bloco-variacao label {
  width: 100%;
  background-color: #404040;
  color: white;
  padding: 2px 4px;
  margin-bottom: 5px;
}
.single-product.woocommerce div.product table.variations th .bloco-variacao select,
.single-product.woocommerce div.product table.variations td .bloco-variacao select {
  width: 100%;
  max-width: 100%;
}
/* === /variacoes === */

/* === meta === */
.single-product div.product .product_meta {
  border-top: 1px solid #a9a9a9;
}
/* === /meta === */

/* === share === */
.single-product.woocommerce .box-sob-medida {
  display: flex;
  align-items: center;
}
.single-product.woocommerce .box-sob-medida .botao-sob-medida {
  text-align: center;
  color: white;
  background: #333333;
  padding: 5px;
  line-height: 35px;
}
.single-product.woocommerce .box-sob-medida .botao-sob-medida span {
  display: block;
}
.single-product.woocommerce .box-sob-medida .botao-sob-medida span.sob-medida {
  font-size: 40px;
  font-weight: bold;
}
.single-product.woocommerce .box-sob-medida .dados {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.single-product.woocommerce .box-sob-medida .dados .item a {
  display: flex;
  align-items: center;
  border: 1px solid #a9a9a9;
  margin: 5px;
}
.single-product.woocommerce .box-sob-medida .dados .item span.item-icone.telefone {
  background-color: #817455;
}
.single-product.woocommerce .box-sob-medida .dados .item span.item-icone.telefone.whatsapp {
  background-color: #4caf50;
}
.single-product.woocommerce .box-sob-medida .dados .item span.item-icone.skype {
  background-color: #00aaf2;
}
.single-product.woocommerce .box-sob-medida .dados .item span.item-icone.formulario {
  background-color: #333333;
}
.single-product.woocommerce .box-sob-medida .dados .item span.item-icone img {
  width: 20px;
  height: 20px;
}
.single-product.woocommerce .box-sob-medida .dados .item span.item-icone {
  font-size: 20px;
  line-height: 20px;
  color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-product.woocommerce .box-sob-medida .dados .item span.item-texto {
  padding: 5px;
}
.single-product.woocommerce .horario-atendimento * {
  font-size: 14px;
  color: #666666;
}
/* === /share === */

/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* ====================================================== BLOCO PRODUTO ====================================================== */
/* =========================================================================================================================== */
/* =========================================================================================================================== */
/* =========================================================================================================================== */
.woocommerce ul.lista-produtos.columns-1 li.product-loop-item {
  margin: 0px !important;
  width: 100% !important;
}
.woocommerce ul.lista-produtos.columns-2 li.product-loop-item {
  margin: 0px !important;
  width: 50% !important;
}
.woocommerce ul.lista-produtos.columns-3 li.product-loop-item {
  margin: 0px !important;
  width: 33.333333333333333% !important;
}
.woocommerce ul.lista-produtos.columns-4 li.product-loop-item {
  margin: 0px !important;
  width: 25% !important;
}
.woocommerce ul.lista-produtos.columns-5 li.product-loop-item {
  margin: 0px !important;
  width: 20% !important;
}
.woocommerce ul.lista-produtos.columns-6 li.product-loop-item {
  margin: 0px !important;
  width: ‭16.66666666666667% !important;
}
.woocommerce ul.lista-produtos li.product-loop-item {
  padding: 10px;
}
.woocommerce ul.lista-produtos li.product-loop-item.first {
  padding-left: 0px;
}
.woocommerce ul.lista-produtos li.product-loop-item.last {
  padding-right: 0px;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal span.label-lancamento {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background-color: #2597b8;
  color: white;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal a {
  outline: none;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal a img.attachment-woocommerce_thumbnail {
  height: 280px;
  width: auto;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal .woocommerce-loop-product__title {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal .price {
  height: 90px;
  margin-bottom: 0px;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal .price del {
  display: block;
  color: #c90000;
  font-size: 25px;
  font-weight: bold;
  opacity: 1;
  margin-bottom: -10px;
}
.woocommerce.single-product ul.lista-produtos li.product-loop-item .product-loop-item-internal .price del {
  margin-bottom: 5px;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal .price span.valor-minimo,
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal .price ins,
.woocommerce ul.lista-produtos li.product-loop-item.product-type-simple .product-loop-item-internal .price {
  display: block;
  margin: 0px;
  color: #0fb856;
  font-size: 40px;
  font-weight: bold;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal .fswp_installments_price.loop {
  display: none;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal a.button {
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  opacity: 0;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.woocommerce ul.lista-produtos li.product-loop-item .product-loop-item-internal:hover a.button {
  opacity: 1;
}

/* ======================================================================================================================= */
/* ======================================================================================================================= */
/* ======================================================================================================================= */
/* ====================================================== SOBRE NOS ====================================================== */
/* ======================================================================================================================= */
/* ======================================================================================================================= */
/* ======================================================================================================================= */
/* === titulo === */
body.page-template-pagina-sobre-nos .storefront-breadcrumb {
  display: none;
}
body.page-template-pagina-sobre-nos .col-full.col-full-principal {
  max-width: 100%;
  padding: 0px;
}
body.page-template-pagina-sobre-nos section.sobre-nos-titulo {
  background-color: #9E0000;
  position: relative;
}
body.page-template-pagina-sobre-nos section.sobre-nos-titulo .col-full {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body.page-template-pagina-sobre-nos section.sobre-nos-titulo .titulo {
  width: 25%;
  padding-top: 80px;
  padding-bottom: 80px;
}
body.page-template-pagina-sobre-nos section.sobre-nos-titulo .titulo * {
  color: white;
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  line-height: 50px;
}
body.page-template-pagina-sobre-nos section.sobre-nos-titulo .titulo strong {
  font-size: 50px;
  font-weight: 800;
}
body.page-template-pagina-sobre-nos section.sobre-nos-titulo .imagem {
  width: 75%;
  height: 265px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

/* === conteudo === */
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo {
  padding-top: 20px;
  padding-bottom: 20px;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .titulo-loja .texto {
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #a9a9a9;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao {
  display: flex;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo {
  display: inline-block;
  width: 60%;
  padding-right: 20px;
  position: relative;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  display: block;
  background-color: #b3b3b3;
  top: 0;
  right: 0;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-direito {
  display: inline-block;
  width: 40%;
  padding-left: 20px;
}
@media (max-width: 992px) {
  body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao {
    display: block;
  }
  body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo {
    display: block;
    width: 100%;
    padding-right: 0px;
  }
  body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-direito {
    display: block;
    width: 100%;
    padding-left: 0px;
  }
}

body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .tour-virtual .titulo-tour p.titulo {
  display: flex;
  align-items: center;
  background-color: #404040;
  margin-bottom: 0px;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .tour-virtual .titulo-tour p.titulo img {
  display: inline-block;
  padding: 5px 20px;
  background-color: #242424;
  border-radius: 0px;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .tour-virtual .titulo-tour p.titulo span {
  color: white;
  padding: 0px 15px;
  font-weight: bold;
  font-size: 20px;
}

body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .endereco .titulo p {
  font-weight: bold;
  color: #404040;
  font-size: 20px;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .endereco .bloco-endereco {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .endereco .bloco-endereco * {
  margin-bottom: 0px;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .endereco .bloco-endereco .icone {
  width: 5%;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .endereco .bloco-endereco .icone img {
  width: auto;
  height: 30px;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .endereco .bloco-endereco .texto {
  width: 70%;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .endereco .bloco-endereco .botao {
  width: 25%;
}
body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-esquerdo .endereco .bloco-endereco .botao a {
  width: 100%;
  padding: 15px;
  background-color: #404040;
  color: white;
  display: block;
  text-align: center;
}

body.page-template-pagina-sobre-nos section.sobre-nos-conteudo .conteudo-divisao .conteudo-direito .pilares .pilar .titulo .texto {
  color: #817455;
  font-weight: bold;
}

body.page-template-pagina-sobre-nos section.sobre-nos-veja-tambem {
  margin-bottom: 20px;
}
body.page-template-pagina-sobre-nos section.sobre-nos-veja-tambem .titulo-veja-tambem {
  color: #817455;
  font-weight: bold;
  border-bottom: 1px solid #a9a9a9;
}
body.page-template-pagina-sobre-nos section.sobre-nos-veja-tambem a.botao-ver-produtos {
  background-color: #817455;
  color: white;
  display: block;
  text-align: center;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
}

/* ==================================================================================================================== */
/* ==================================================================================================================== */
/* ==================================================================================================================== */
/* ====================================================== FOOTER ====================================================== */
/* ==================================================================================================================== */
/* ==================================================================================================================== */
/* ==================================================================================================================== */
footer.site-footer {
  padding-bottom: 15px;
}
footer.site-footer .footer-widgets {
  padding-top: 0px;
}
footer.site-footer .footer-widgets .widget_media_image {
  margin-bottom: 20px;
}
footer.site-footer .footer-widgets .widget_text {
  margin-bottom: 10px;
}
footer.site-footer .footer-widgets .widget_text span.widget-title,
footer.site-footer .footer-widgets span.widget-title {
  color: #a6956d;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
footer.site-footer .footer-widgets .widget_text .textwidget * {
  margin-bottom: 0px;
  color: #cccccc;
}


.coluna-footers-dev {
  background-color: #181818;
}
.coluna-footers-dev .site-info {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.coluna-footers-dev .site-info .col-2 {
  flex: 0 0 50%;
  max-width: 50%;
  color: #cccccc;
}
.coluna-footers-dev .site-info .col-2.desenvolvido {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.coluna-footers-dev .site-info .col-2.desenvolvido span {
  margin-right: 15px;
}