<div class='progress-msg'>[19:57:12] ---</div>
<div class='progress-msg'>[19:57:12] Registros #80</div>
<div class='progress-msg'>[19:57:12] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[19:57:12] Combinar todos os dados para o post Tapete Abade ...</div>
<div class='progress-msg'>[19:57:12] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapete Abade`...</div>
<div class='progress-msg'>[19:57:12] Postagem duplicada foi encontrada para o post Tapete Abade com a chave exclusiva `2937`...</div>
<div class='progress-msg'>[19:57:12] Excluindo anexos para `Tapete Abade`</div>
<div class='progress-msg'>[19:57:12] Excluindo imagens para `Tapete Abade`</div>
<div class='progress-msg'>[19:57:12] Aplicando filtros `pmxi_article_data` para `Tapete Abade`</div>
<div class='progress-msg'>[19:57:12] <b>ATUALIZANDO</b> `Tapete Abade` `Produto`</div>
<div class='progress-msg'>[19:57:12] Postagem associada `Tapete Abade` com a importação atual...</div>
<div class='progress-msg'>[19:57:13] <b>IMAGENS:</b></div>
<div class='progress-msg'>[19:57:13] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/4381349b-a3a2-4508-9344-cb80a1f0706e.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:13] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/4381349b-a3a2-4508-9344-cb80a1f0706e.jpg` by URL...</div>
<div class='progress-msg'>[19:57:13] - Usando a imagem existente `4381349b-a3a2-4508-9344-cb80a1f0706e.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `998` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/4381349b-a3a2-4508-9344-cb80a1f0706e.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/b073f1f3-5b04-47a6-b6f6-8bb14b513f9c.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/b073f1f3-5b04-47a6-b6f6-8bb14b513f9c.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `b073f1f3-5b04-47a6-b6f6-8bb14b513f9c.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `999` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/b073f1f3-5b04-47a6-b6f6-8bb14b513f9c.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/a470e552-9cb1-4560-a040-23936f7f7c8a.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/a470e552-9cb1-4560-a040-23936f7f7c8a.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `a470e552-9cb1-4560-a040-23936f7f7c8a.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `1000` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/a470e552-9cb1-4560-a040-23936f7f7c8a.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/9304d4b6-f7b0-4812-995c-2ec7e64c93cf-1.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/9304d4b6-f7b0-4812-995c-2ec7e64c93cf-1.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `9304d4b6-f7b0-4812-995c-2ec7e64c93cf-1.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `1001` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/9304d4b6-f7b0-4812-995c-2ec7e64c93cf-1.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/3441d64e-ccfe-4bdb-9b13-c89ce762ce2f-1.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/3441d64e-ccfe-4bdb-9b13-c89ce762ce2f-1.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `3441d64e-ccfe-4bdb-9b13-c89ce762ce2f-1.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `1002` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3441d64e-ccfe-4bdb-9b13-c89ce762ce2f-1.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/849d69c5-c91d-459e-88ca-d3023d5df82d-1.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/849d69c5-c91d-459e-88ca-d3023d5df82d-1.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `849d69c5-c91d-459e-88ca-d3023d5df82d-1.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `1003` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/849d69c5-c91d-459e-88ca-d3023d5df82d-1.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/67cbb970-23d7-4ee7-b045-2e33529d7702.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/67cbb970-23d7-4ee7-b045-2e33529d7702.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `67cbb970-23d7-4ee7-b045-2e33529d7702.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `1004` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/67cbb970-23d7-4ee7-b045-2e33529d7702.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/7c0e5b3a-f079-4fe9-85c9-994fb1612a87-1.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/7c0e5b3a-f079-4fe9-85c9-994fb1612a87-1.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `7c0e5b3a-f079-4fe9-85c9-994fb1612a87-1.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `1005` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/7c0e5b3a-f079-4fe9-85c9-994fb1612a87-1.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/3cff7d85-9e49-476e-a729-8de6d1625489.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/3cff7d85-9e49-476e-a729-8de6d1625489.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `3cff7d85-9e49-476e-a729-8de6d1625489.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `1006` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3cff7d85-9e49-476e-a729-8de6d1625489.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/528694a0-e8eb-4397-8fe2-cb8bea8c33c8.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/528694a0-e8eb-4397-8fe2-cb8bea8c33c8.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `528694a0-e8eb-4397-8fe2-cb8bea8c33c8.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `1007` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/528694a0-e8eb-4397-8fe2-cb8bea8c33c8.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/3ce09414-62ba-48e7-acf2-9ce98a5f71df.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/3ce09414-62ba-48e7-acf2-9ce98a5f71df.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `3ce09414-62ba-48e7-acf2-9ce98a5f71df.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `1008` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3ce09414-62ba-48e7-acf2-9ce98a5f71df.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/3bab38c7-0d29-4efb-a60b-6f3efec1c236.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/3bab38c7-0d29-4efb-a60b-6f3efec1c236.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `3bab38c7-0d29-4efb-a60b-6f3efec1c236.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:14] - Attachment with ID: `1009` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3bab38c7-0d29-4efb-a60b-6f3efec1c236.jpg`</div>
<div class='progress-msg'>[19:57:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/3441d64e-ccfe-4bdb-9b13-c89ce762ce2f.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/3441d64e-ccfe-4bdb-9b13-c89ce762ce2f.jpg` by URL...</div>
<div class='progress-msg'>[19:57:14] - Usando a imagem existente `3441d64e-ccfe-4bdb-9b13-c89ce762ce2f.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:15] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:15] - Attachment with ID: `1010` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/3441d64e-ccfe-4bdb-9b13-c89ce762ce2f.jpg`</div>
<div class='progress-msg'>[19:57:15] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/7c0e5b3a-f079-4fe9-85c9-994fb1612a87.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:15] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/7c0e5b3a-f079-4fe9-85c9-994fb1612a87.jpg` by URL...</div>
<div class='progress-msg'>[19:57:15] - Usando a imagem existente `7c0e5b3a-f079-4fe9-85c9-994fb1612a87.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:15] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:15] - Attachment with ID: `1011` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/7c0e5b3a-f079-4fe9-85c9-994fb1612a87.jpg`</div>
<div class='progress-msg'>[19:57:15] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/d255a7bf-1c8c-425b-9668-bff0b687c74f.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:15] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/d255a7bf-1c8c-425b-9668-bff0b687c74f.jpg` by URL...</div>
<div class='progress-msg'>[19:57:15] - Usando a imagem existente `d255a7bf-1c8c-425b-9668-bff0b687c74f.jpg` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:15] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:15] - Attachment with ID: `1012` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/d255a7bf-1c8c-425b-9668-bff0b687c74f.jpg`</div>
<div class='progress-msg'>[19:57:15] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/21533705_1517060508358736_1245649082_o.png` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:15] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/21533705_1517060508358736_1245649082_o.png` by URL...</div>
<div class='progress-msg'>[19:57:15] - Usando a imagem existente `21533705_1517060508358736_1245649082_o.png` para o post `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:15] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:15] - Attachment with ID: `1013` has been successfully updated for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/21533705_1517060508358736_1245649082_o.png`</div>
<div class='progress-msg'>[19:57:15] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/21460319_1517060528358734_130567265_o.png` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:15] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/21460319_1517060528358734_130567265_o.png` by URL...</div>
<div class='progress-msg'>[19:57:15] - <b>ATENÇÃO</b> Imagem 21460319_1517060528358734_130567265_o.png não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:15] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/21460319_1517060528358734_130567265_o.png`</div>
<div class='progress-msg'>[19:57:15] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/21460319_1517060528358734_130567265_o.png` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:15] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/21460319_1517060528358734_130567265_o.png`</div>
<div class='progress-msg'>[19:57:22] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:22] - Attachment with ID: `1015` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/21460319_1517060528358734_130567265_o.png`</div>
<div class='progress-msg'>[19:57:22] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/21439218_1517060511692069_1272471407_o.png` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:22] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/21439218_1517060511692069_1272471407_o.png` by URL...</div>
<div class='progress-msg'>[19:57:22] - <b>ATENÇÃO</b> Imagem 21439218_1517060511692069_1272471407_o.png não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:22] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/21439218_1517060511692069_1272471407_o.png`</div>
<div class='progress-msg'>[19:57:22] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/21439218_1517060511692069_1272471407_o.png` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:22] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/21439218_1517060511692069_1272471407_o.png`</div>
<div class='progress-msg'>[19:57:28] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:28] - Attachment with ID: `1016` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/21439218_1517060511692069_1272471407_o.png`</div>
<div class='progress-msg'>[19:57:28] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/970fc087-90b4-4d23-875d-6a5f8ce20e18.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:28] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/970fc087-90b4-4d23-875d-6a5f8ce20e18.jpg` by URL...</div>
<div class='progress-msg'>[19:57:28] - <b>ATENÇÃO</b> Imagem 970fc087-90b4-4d23-875d-6a5f8ce20e18.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:28] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/970fc087-90b4-4d23-875d-6a5f8ce20e18.jpg`</div>
<div class='progress-msg'>[19:57:28] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/970fc087-90b4-4d23-875d-6a5f8ce20e18.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:28] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/970fc087-90b4-4d23-875d-6a5f8ce20e18.jpg`</div>
<div class='progress-msg'>[19:57:30] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:30] - Attachment with ID: `1017` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/970fc087-90b4-4d23-875d-6a5f8ce20e18.jpg`</div>
<div class='progress-msg'>[19:57:30] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/d10384e2-1d38-47b5-aa98-bd3141a0d042.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:30] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/d10384e2-1d38-47b5-aa98-bd3141a0d042.jpg` by URL...</div>
<div class='progress-msg'>[19:57:30] - <b>ATENÇÃO</b> Imagem d10384e2-1d38-47b5-aa98-bd3141a0d042.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:30] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/d10384e2-1d38-47b5-aa98-bd3141a0d042.jpg`</div>
<div class='progress-msg'>[19:57:30] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/d10384e2-1d38-47b5-aa98-bd3141a0d042.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:30] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/d10384e2-1d38-47b5-aa98-bd3141a0d042.jpg`</div>
<div class='progress-msg'>[19:57:33] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:33] - Attachment with ID: `1018` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/d10384e2-1d38-47b5-aa98-bd3141a0d042.jpg`</div>
<div class='progress-msg'>[19:57:33] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/9304d4b6-f7b0-4812-995c-2ec7e64c93cf.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:33] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/9304d4b6-f7b0-4812-995c-2ec7e64c93cf.jpg` by URL...</div>
<div class='progress-msg'>[19:57:33] - <b>ATENÇÃO</b> Imagem 9304d4b6-f7b0-4812-995c-2ec7e64c93cf.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:33] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/9304d4b6-f7b0-4812-995c-2ec7e64c93cf.jpg`</div>
<div class='progress-msg'>[19:57:33] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/9304d4b6-f7b0-4812-995c-2ec7e64c93cf.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:33] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/9304d4b6-f7b0-4812-995c-2ec7e64c93cf.jpg`</div>
<div class='progress-msg'>[19:57:36] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:36] - Attachment with ID: `1019` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/9304d4b6-f7b0-4812-995c-2ec7e64c93cf.jpg`</div>
<div class='progress-msg'>[19:57:36] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/17f8c5bd-7fb1-48b0-a304-379003837d47.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:36] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/17f8c5bd-7fb1-48b0-a304-379003837d47.jpg` by URL...</div>
<div class='progress-msg'>[19:57:36] - <b>ATENÇÃO</b> Imagem 17f8c5bd-7fb1-48b0-a304-379003837d47.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:36] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/17f8c5bd-7fb1-48b0-a304-379003837d47.jpg`</div>
<div class='progress-msg'>[19:57:36] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/17f8c5bd-7fb1-48b0-a304-379003837d47.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:36] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/17f8c5bd-7fb1-48b0-a304-379003837d47.jpg`</div>
<div class='progress-msg'>[19:57:38] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:38] - Attachment with ID: `1020` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/17f8c5bd-7fb1-48b0-a304-379003837d47.jpg`</div>
<div class='progress-msg'>[19:57:38] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/849d69c5-c91d-459e-88ca-d3023d5df82d.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:38] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/849d69c5-c91d-459e-88ca-d3023d5df82d.jpg` by URL...</div>
<div class='progress-msg'>[19:57:38] - <b>ATENÇÃO</b> Imagem 849d69c5-c91d-459e-88ca-d3023d5df82d.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:38] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/849d69c5-c91d-459e-88ca-d3023d5df82d.jpg`</div>
<div class='progress-msg'>[19:57:38] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/849d69c5-c91d-459e-88ca-d3023d5df82d.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:38] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/849d69c5-c91d-459e-88ca-d3023d5df82d.jpg`</div>
<div class='progress-msg'>[19:57:40] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:40] - Attachment with ID: `1021` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/849d69c5-c91d-459e-88ca-d3023d5df82d.jpg`</div>
<div class='progress-msg'>[19:57:40] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/5fa6c188-a87b-49c1-b656-08086f220c25.jpg` for `Tapete Abade` ...</div>
<div class='progress-msg'>[19:57:40] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/5fa6c188-a87b-49c1-b656-08086f220c25.jpg` by URL...</div>
<div class='progress-msg'>[19:57:40] - <b>ATENÇÃO</b> Imagem 5fa6c188-a87b-49c1-b656-08086f220c25.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:40] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/5fa6c188-a87b-49c1-b656-08086f220c25.jpg`</div>
<div class='progress-msg'>[19:57:40] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/5fa6c188-a87b-49c1-b656-08086f220c25.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:40] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/5fa6c188-a87b-49c1-b656-08086f220c25.jpg`</div>
<div class='progress-msg'>[19:57:42] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:42] - Attachment with ID: `1022` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/5fa6c188-a87b-49c1-b656-08086f220c25.jpg`</div>
<div class='progress-msg'>[19:57:42] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[19:57:42] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[19:57:42] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[19:57:42] - Tentativa de criar o filho Produto product_cat `Lançamentos|Tapetes`, duplicado detectado. Importando Produto para `Lançamentos|Tapetes` existente, ID 0, slug `58`...</div>
<div class='progress-msg'>[19:57:42] - Tentativa de criar o filho Produto product_cat `Tapetes Turcos`, duplicado detectado. Importando Produto para `Tapetes Turcos` existente, ID 0, slug `72`...</div>
<div class='progress-msg'>[19:57:42] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[19:57:42] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[19:57:42] - Tentativa de criar o pai Produto tamanho_tapetes `1,50 x 2,00m`, duplicado detectado. Importando Produto para `1,50 x 2,00m` existente, ID 0, slug `46`...</div>
<div class='progress-msg'>[19:57:42] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[19:57:42] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 3,00m`, duplicado detectado. Importando Produto para `2,00 x 3,00m` existente, ID 0, slug `29`...</div>
<div class='progress-msg'>[19:57:42] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,00m`, duplicado detectado. Importando Produto para `2,50 x 3,00m` existente, ID 0, slug `37`...</div>
<div class='progress-msg'>[19:57:42] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,50m`, duplicado detectado. Importando Produto para `2,50 x 3,50m` existente, ID 0, slug `48`...</div>
<div class='progress-msg'>[19:57:42] - Tentativa de criar o pai Produto tamanho_tapetes `3,00 x 4,00m`, duplicado detectado. Importando Produto para `3,00 x 4,00m` existente, ID 0, slug `38`...</div>
<div class='progress-msg'>[19:57:42] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Medida`, duplicado detectado. Importando Produto para `Sob Medida` existente, ID 0, slug `39`...</div>
<div class='progress-msg'>[19:57:42] <b>ATUALIZADO</b> `Tapete Abade` `Produto` (ID: 997)</div>
<div class='progress-msg'>[19:57:42] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[19:57:42] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[19:57:47] ---</div>
<div class='progress-msg'>[19:57:47] Registros #81</div>
<div class='progress-msg'>[19:57:47] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[19:57:47] Combinar todos os dados para o post Tapete Doha ...</div>
<div class='progress-msg'>[19:57:47] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapete Doha`...</div>
<div class='progress-msg'>[19:57:47] A postagem duplicada não foi encontrada com a chave exclusiva `2970`...</div>
<div class='progress-msg'>[19:57:47] Aplicando filtros `pmxi_article_data` para `Tapete Doha`</div>
<div class='progress-msg'>[19:57:47] <b>CRIANDO</b> `Tapete Doha` `Produto`</div>
<div class='progress-msg'>[19:57:47] Postagem associada `Tapete Doha` com a importação atual...</div>
<div class='progress-msg'>[19:57:48] <b>IMAGENS:</b></div>
<div class='progress-msg'>[19:57:48] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/doha-04-0004_1.jpg` for `Tapete Doha` ...</div>
<div class='progress-msg'>[19:57:48] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/doha-04-0004_1.jpg` by URL...</div>
<div class='progress-msg'>[19:57:48] - <b>ATENÇÃO</b> Imagem doha-04-0004_1.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:48] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/doha-04-0004_1.jpg`</div>
<div class='progress-msg'>[19:57:48] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/doha-04-0004_1.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:48] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/doha-04-0004_1.jpg`</div>
<div class='progress-msg'>[19:57:50] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:50] - Attachment with ID: `1024` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/doha-04-0004_1.jpg`</div>
<div class='progress-msg'>[19:57:50] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/images-1.jpg` for `Tapete Doha` ...</div>
<div class='progress-msg'>[19:57:50] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/images-1.jpg` by URL...</div>
<div class='progress-msg'>[19:57:50] - <b>ATENÇÃO</b> Imagem images-1.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:50] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/images-1.jpg`</div>
<div class='progress-msg'>[19:57:50] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/images-1.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:50] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/images-1.jpg`</div>
<div class='progress-msg'>[19:57:50] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:57:50] - Attachment with ID: `1025` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/images-1.jpg`</div>
<div class='progress-msg'>[19:57:50] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[19:57:50] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[19:57:50] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[19:57:50] - Tentativa de criar o filho Produto product_cat `Tapetes Chineses`, duplicado detectado. Importando Produto para `Tapetes Chineses` existente, ID 0, slug `32`...</div>
<div class='progress-msg'>[19:57:50] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[19:57:50] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[19:57:50] - Tentativa de criar o pai Produto tamanho_tapetes `1,50 x 2,00m`, duplicado detectado. Importando Produto para `1,50 x 2,00m` existente, ID 0, slug `46`...</div>
<div class='progress-msg'>[19:57:50] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[19:57:50] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 3,00m`, duplicado detectado. Importando Produto para `2,00 x 3,00m` existente, ID 0, slug `29`...</div>
<div class='progress-msg'>[19:57:50] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,00m`, duplicado detectado. Importando Produto para `2,50 x 3,00m` existente, ID 0, slug `37`...</div>
<div class='progress-msg'>[19:57:50] - Tentativa de criar o pai Produto tamanho_tapetes `3,00 x 4,00m`, duplicado detectado. Importando Produto para `3,00 x 4,00m` existente, ID 0, slug `38`...</div>
<div class='progress-msg'>[19:57:50] <b>CRIADO</b> `Tapete Doha` `Produto` (ID: 1023)</div>
<div class='progress-msg'>[19:57:50] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[19:57:50] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[19:57:57] ---</div>
<div class='progress-msg'>[19:57:57] Registros #82</div>
<div class='progress-msg'>[19:57:57] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[19:57:57] Combinar todos os dados para o post Tapetes de Couro Legítimo ...</div>
<div class='progress-msg'>[19:57:57] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapetes de Couro Legítimo`...</div>
<div class='progress-msg'>[19:57:57] A postagem duplicada não foi encontrada com a chave exclusiva `2977`...</div>
<div class='progress-msg'>[19:57:57] Aplicando filtros `pmxi_article_data` para `Tapetes de Couro Legítimo`</div>
<div class='progress-msg'>[19:57:57] <b>CRIANDO</b> `Tapetes de Couro Legítimo` `Produto`</div>
<div class='progress-msg'>[19:57:57] Postagem associada `Tapetes de Couro Legítimo` com a importação atual...</div>
<div class='progress-msg'>[19:57:58] <b>IMAGENS:</b></div>
<div class='progress-msg'>[19:57:58] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/c0225e5a-036c-453b-b1e6-8895c039b8b6-1.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:57:58] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/c0225e5a-036c-453b-b1e6-8895c039b8b6-1.jpg` by URL...</div>
<div class='progress-msg'>[19:57:58] - <b>ATENÇÃO</b> Imagem c0225e5a-036c-453b-b1e6-8895c039b8b6-1.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:57:58] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/c0225e5a-036c-453b-b1e6-8895c039b8b6-1.jpg`</div>
<div class='progress-msg'>[19:57:59] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/c0225e5a-036c-453b-b1e6-8895c039b8b6-1.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:57:59] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/c0225e5a-036c-453b-b1e6-8895c039b8b6-1.jpg`</div>
<div class='progress-msg'>[19:58:01] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:01] - Attachment with ID: `1027` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/c0225e5a-036c-453b-b1e6-8895c039b8b6-1.jpg`</div>
<div class='progress-msg'>[19:58:01] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/f695c23c-1269-411e-9357-76d86a5ec3c1-1.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:01] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/f695c23c-1269-411e-9357-76d86a5ec3c1-1.jpg` by URL...</div>
<div class='progress-msg'>[19:58:01] - <b>ATENÇÃO</b> Imagem f695c23c-1269-411e-9357-76d86a5ec3c1-1.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:01] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/f695c23c-1269-411e-9357-76d86a5ec3c1-1.jpg`</div>
<div class='progress-msg'>[19:58:01] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/f695c23c-1269-411e-9357-76d86a5ec3c1-1.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:01] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/f695c23c-1269-411e-9357-76d86a5ec3c1-1.jpg`</div>
<div class='progress-msg'>[19:58:05] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:05] - Attachment with ID: `1028` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/f695c23c-1269-411e-9357-76d86a5ec3c1-1.jpg`</div>
<div class='progress-msg'>[19:58:05] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/fdb6c538-95a9-4356-b176-180f0da21937-1.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:05] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/fdb6c538-95a9-4356-b176-180f0da21937-1.jpg` by URL...</div>
<div class='progress-msg'>[19:58:05] - <b>ATENÇÃO</b> Imagem fdb6c538-95a9-4356-b176-180f0da21937-1.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:05] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/fdb6c538-95a9-4356-b176-180f0da21937-1.jpg`</div>
<div class='progress-msg'>[19:58:05] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/fdb6c538-95a9-4356-b176-180f0da21937-1.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:05] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/fdb6c538-95a9-4356-b176-180f0da21937-1.jpg`</div>
<div class='progress-msg'>[19:58:07] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:07] - Attachment with ID: `1029` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/fdb6c538-95a9-4356-b176-180f0da21937-1.jpg`</div>
<div class='progress-msg'>[19:58:07] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cf3202bf-6402-4455-b340-cfd2a9d821aa-1.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:07] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cf3202bf-6402-4455-b340-cfd2a9d821aa-1.jpg` by URL...</div>
<div class='progress-msg'>[19:58:07] - <b>ATENÇÃO</b> Imagem cf3202bf-6402-4455-b340-cfd2a9d821aa-1.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:07] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cf3202bf-6402-4455-b340-cfd2a9d821aa-1.jpg`</div>
<div class='progress-msg'>[19:58:07] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cf3202bf-6402-4455-b340-cfd2a9d821aa-1.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:07] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/cf3202bf-6402-4455-b340-cfd2a9d821aa-1.jpg`</div>
<div class='progress-msg'>[19:58:09] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:09] - Attachment with ID: `1030` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/cf3202bf-6402-4455-b340-cfd2a9d821aa-1.jpg`</div>
<div class='progress-msg'>[19:58:09] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/fdb6c538-95a9-4356-b176-180f0da21937.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:09] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/fdb6c538-95a9-4356-b176-180f0da21937.jpg` by URL...</div>
<div class='progress-msg'>[19:58:09] - <b>ATENÇÃO</b> Imagem fdb6c538-95a9-4356-b176-180f0da21937.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:09] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/fdb6c538-95a9-4356-b176-180f0da21937.jpg`</div>
<div class='progress-msg'>[19:58:09] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/fdb6c538-95a9-4356-b176-180f0da21937.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:09] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/fdb6c538-95a9-4356-b176-180f0da21937.jpg`</div>
<div class='progress-msg'>[19:58:12] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:12] - Attachment with ID: `1031` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/fdb6c538-95a9-4356-b176-180f0da21937.jpg`</div>
<div class='progress-msg'>[19:58:12] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cf3202bf-6402-4455-b340-cfd2a9d821aa.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:12] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cf3202bf-6402-4455-b340-cfd2a9d821aa.jpg` by URL...</div>
<div class='progress-msg'>[19:58:12] - <b>ATENÇÃO</b> Imagem cf3202bf-6402-4455-b340-cfd2a9d821aa.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:12] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cf3202bf-6402-4455-b340-cfd2a9d821aa.jpg`</div>
<div class='progress-msg'>[19:58:12] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cf3202bf-6402-4455-b340-cfd2a9d821aa.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:12] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/cf3202bf-6402-4455-b340-cfd2a9d821aa.jpg`</div>
<div class='progress-msg'>[19:58:14] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:14] - Attachment with ID: `1032` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/cf3202bf-6402-4455-b340-cfd2a9d821aa.jpg`</div>
<div class='progress-msg'>[19:58:14] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/f695c23c-1269-411e-9357-76d86a5ec3c1.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:14] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/f695c23c-1269-411e-9357-76d86a5ec3c1.jpg` by URL...</div>
<div class='progress-msg'>[19:58:14] - <b>ATENÇÃO</b> Imagem f695c23c-1269-411e-9357-76d86a5ec3c1.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:14] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/f695c23c-1269-411e-9357-76d86a5ec3c1.jpg`</div>
<div class='progress-msg'>[19:58:14] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/f695c23c-1269-411e-9357-76d86a5ec3c1.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:14] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/f695c23c-1269-411e-9357-76d86a5ec3c1.jpg`</div>
<div class='progress-msg'>[19:58:15] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:15] - Attachment with ID: `1033` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/f695c23c-1269-411e-9357-76d86a5ec3c1.jpg`</div>
<div class='progress-msg'>[19:58:15] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/c0225e5a-036c-453b-b1e6-8895c039b8b6.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:15] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/c0225e5a-036c-453b-b1e6-8895c039b8b6.jpg` by URL...</div>
<div class='progress-msg'>[19:58:15] - <b>ATENÇÃO</b> Imagem c0225e5a-036c-453b-b1e6-8895c039b8b6.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:15] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/c0225e5a-036c-453b-b1e6-8895c039b8b6.jpg`</div>
<div class='progress-msg'>[19:58:15] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/c0225e5a-036c-453b-b1e6-8895c039b8b6.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:15] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/c0225e5a-036c-453b-b1e6-8895c039b8b6.jpg`</div>
<div class='progress-msg'>[19:58:17] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:17] - Attachment with ID: `1034` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/c0225e5a-036c-453b-b1e6-8895c039b8b6.jpg`</div>
<div class='progress-msg'>[19:58:17] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0035.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:17] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0035.jpg` by URL...</div>
<div class='progress-msg'>[19:58:17] - <b>ATENÇÃO</b> Imagem IMG-20160506-WA0035.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:17] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0035.jpg`</div>
<div class='progress-msg'>[19:58:17] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0035.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:17] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/IMG-20160506-WA0035.jpg`</div>
<div class='progress-msg'>[19:58:19] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:19] - Attachment with ID: `1035` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/IMG-20160506-WA0035.jpg`</div>
<div class='progress-msg'>[19:58:19] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0024.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:19] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0024.jpg` by URL...</div>
<div class='progress-msg'>[19:58:19] - <b>ATENÇÃO</b> Imagem IMG-20160506-WA0024.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:19] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0024.jpg`</div>
<div class='progress-msg'>[19:58:19] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0024.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:19] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/IMG-20160506-WA0024.jpg`</div>
<div class='progress-msg'>[19:58:19] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:19] - Attachment with ID: `1036` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/IMG-20160506-WA0024.jpg`</div>
<div class='progress-msg'>[19:58:19] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0029.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:19] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0029.jpg` by URL...</div>
<div class='progress-msg'>[19:58:19] - <b>ATENÇÃO</b> Imagem IMG-20160506-WA0029.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:19] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0029.jpg`</div>
<div class='progress-msg'>[19:58:20] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/IMG-20160506-WA0029.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:20] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/IMG-20160506-WA0029.jpg`</div>
<div class='progress-msg'>[19:58:20] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:20] - Attachment with ID: `1037` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/IMG-20160506-WA0029.jpg`</div>
<div class='progress-msg'>[19:58:20] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/12745900_880516122066343_2180092221901443419_n.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:20] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/12745900_880516122066343_2180092221901443419_n.jpg` by URL...</div>
<div class='progress-msg'>[19:58:20] - <b>ATENÇÃO</b> Imagem 12745900_880516122066343_2180092221901443419_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:20] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/12745900_880516122066343_2180092221901443419_n.jpg`</div>
<div class='progress-msg'>[19:58:21] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/12745900_880516122066343_2180092221901443419_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:21] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/12745900_880516122066343_2180092221901443419_n.jpg`</div>
<div class='progress-msg'>[19:58:23] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:23] - Attachment with ID: `1038` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/12745900_880516122066343_2180092221901443419_n.jpg`</div>
<div class='progress-msg'>[19:58:23] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/Couro-Branco.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:23] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/Couro-Branco.jpg` by URL...</div>
<div class='progress-msg'>[19:58:23] - <b>ATENÇÃO</b> Imagem Couro-Branco.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:23] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/Couro-Branco.jpg`</div>
<div class='progress-msg'>[19:58:23] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/Couro-Branco.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:23] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/Couro-Branco.jpg`</div>
<div class='progress-msg'>[19:58:26] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:26] - Attachment with ID: `1039` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/Couro-Branco.jpg`</div>
<div class='progress-msg'>[19:58:26] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cc42a3e9-238b-4233-8c0a-8599baaa45bd.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:26] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cc42a3e9-238b-4233-8c0a-8599baaa45bd.jpg` by URL...</div>
<div class='progress-msg'>[19:58:26] - <b>ATENÇÃO</b> Imagem cc42a3e9-238b-4233-8c0a-8599baaa45bd.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:26] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cc42a3e9-238b-4233-8c0a-8599baaa45bd.jpg`</div>
<div class='progress-msg'>[19:58:27] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/cc42a3e9-238b-4233-8c0a-8599baaa45bd.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:27] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/cc42a3e9-238b-4233-8c0a-8599baaa45bd.jpg`</div>
<div class='progress-msg'>[19:58:28] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:28] - Attachment with ID: `1040` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/cc42a3e9-238b-4233-8c0a-8599baaa45bd.jpg`</div>
<div class='progress-msg'>[19:58:28] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/16473839_380241189009651_3914357993554994011_n.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:29] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/16473839_380241189009651_3914357993554994011_n.jpg` by URL...</div>
<div class='progress-msg'>[19:58:29] - <b>ATENÇÃO</b> Imagem 16473839_380241189009651_3914357993554994011_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:29] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/16473839_380241189009651_3914357993554994011_n.jpg`</div>
<div class='progress-msg'>[19:58:29] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/16473839_380241189009651_3914357993554994011_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:29] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/16473839_380241189009651_3914357993554994011_n.jpg`</div>
<div class='progress-msg'>[19:58:31] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:31] - Attachment with ID: `1041` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/16473839_380241189009651_3914357993554994011_n.jpg`</div>
<div class='progress-msg'>[19:58:31] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/16114119_372986636401773_5081359463347367837_n.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:31] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/16114119_372986636401773_5081359463347367837_n.jpg` by URL...</div>
<div class='progress-msg'>[19:58:31] - <b>ATENÇÃO</b> Imagem 16114119_372986636401773_5081359463347367837_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:31] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/16114119_372986636401773_5081359463347367837_n.jpg`</div>
<div class='progress-msg'>[19:58:31] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/16114119_372986636401773_5081359463347367837_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:31] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/16114119_372986636401773_5081359463347367837_n.jpg`</div>
<div class='progress-msg'>[19:58:33] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:33] - Attachment with ID: `1042` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/16114119_372986636401773_5081359463347367837_n.jpg`</div>
<div class='progress-msg'>[19:58:33] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/1920323_458248530941969_1996522006_n.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:33] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/1920323_458248530941969_1996522006_n.jpg` by URL...</div>
<div class='progress-msg'>[19:58:33] - <b>ATENÇÃO</b> Imagem 1920323_458248530941969_1996522006_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:33] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/1920323_458248530941969_1996522006_n.jpg`</div>
<div class='progress-msg'>[19:58:33] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/1920323_458248530941969_1996522006_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:33] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/1920323_458248530941969_1996522006_n.jpg`</div>
<div class='progress-msg'>[19:58:35] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:35] - Attachment with ID: `1043` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/1920323_458248530941969_1996522006_n.jpg`</div>
<div class='progress-msg'>[19:58:35] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/269249_339949926105164_1247923886_n.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:35] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/269249_339949926105164_1247923886_n.jpg` by URL...</div>
<div class='progress-msg'>[19:58:35] - <b>ATENÇÃO</b> Imagem 269249_339949926105164_1247923886_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:35] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/269249_339949926105164_1247923886_n.jpg`</div>
<div class='progress-msg'>[19:58:35] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/269249_339949926105164_1247923886_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:35] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/269249_339949926105164_1247923886_n.jpg`</div>
<div class='progress-msg'>[19:58:36] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:36] - Attachment with ID: `1044` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/269249_339949926105164_1247923886_n.jpg`</div>
<div class='progress-msg'>[19:58:36] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/5.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:36] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/5.jpg` by URL...</div>
<div class='progress-msg'>[19:58:36] - <b>ATENÇÃO</b> Imagem 5.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:36] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/5.jpg`</div>
<div class='progress-msg'>[19:58:36] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/5.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:36] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/5.jpg`</div>
<div class='progress-msg'>[19:58:39] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:39] - Attachment with ID: `1045` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/5.jpg`</div>
<div class='progress-msg'>[19:58:39] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/04.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:39] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/04.jpg` by URL...</div>
<div class='progress-msg'>[19:58:39] - <b>ATENÇÃO</b> Imagem 04.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:39] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/04.jpg`</div>
<div class='progress-msg'>[19:58:39] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/04.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:39] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/04.jpg`</div>
<div class='progress-msg'>[19:58:42] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:42] - Attachment with ID: `1046` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/04.jpg`</div>
<div class='progress-msg'>[19:58:42] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/03.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:42] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/03.jpg` by URL...</div>
<div class='progress-msg'>[19:58:42] - <b>ATENÇÃO</b> Imagem 03.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:42] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/03.jpg`</div>
<div class='progress-msg'>[19:58:42] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/03.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:42] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/03.jpg`</div>
<div class='progress-msg'>[19:58:45] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:45] - Attachment with ID: `1047` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/03.jpg`</div>
<div class='progress-msg'>[19:58:45] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/01.jpg` for `Tapetes de Couro Legítimo` ...</div>
<div class='progress-msg'>[19:58:45] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/01.jpg` by URL...</div>
<div class='progress-msg'>[19:58:45] - <b>ATENÇÃO</b> Imagem 01.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:45] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/01.jpg`</div>
<div class='progress-msg'>[19:58:45] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/10/01.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:45] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/01.jpg`</div>
<div class='progress-msg'>[19:58:47] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:47] - Attachment with ID: `1048` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/01.jpg`</div>
<div class='progress-msg'>[19:58:47] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[19:58:47] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o filho Produto product_cat `Tapetes em Couro`, duplicado detectado. Importando Produto para `Tapetes em Couro` existente, ID 0, slug `64`...</div>
<div class='progress-msg'>[19:58:47] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[19:58:47] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o pai Produto tamanho_tapetes `1,00 x 1,50m`, duplicado detectado. Importando Produto para `1,00 x 1,50m` existente, ID 0, slug `45`...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o pai Produto tamanho_tapetes `1,50 x 2,00m`, duplicado detectado. Importando Produto para `1,50 x 2,00m` existente, ID 0, slug `46`...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 2,50m`, duplicado detectado. Importando Produto para `2,00 x 2,50m` existente, ID 0, slug `28`...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o pai Produto tamanho_tapetes `2,00 x 3,00m`, duplicado detectado. Importando Produto para `2,00 x 3,00m` existente, ID 0, slug `29`...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 2,50m`, duplicado detectado. Importando Produto para `2,50 x 2,50m` existente, ID 0, slug `47`...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,00m`, duplicado detectado. Importando Produto para `2,50 x 3,00m` existente, ID 0, slug `37`...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o pai Produto tamanho_tapetes `2,50 x 3,50m`, duplicado detectado. Importando Produto para `2,50 x 3,50m` existente, ID 0, slug `48`...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o pai Produto tamanho_tapetes `3,00 x 4,00m`, duplicado detectado. Importando Produto para `3,00 x 4,00m` existente, ID 0, slug `38`...</div>
<div class='progress-msg'>[19:58:47] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Medida`, duplicado detectado. Importando Produto para `Sob Medida` existente, ID 0, slug `39`...</div>
<div class='progress-msg'>[19:58:47] <b>CRIADO</b> `Tapetes de Couro Legítimo` `Produto` (ID: 1026)</div>
<div class='progress-msg'>[19:58:47] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[19:58:47] <b>AÇÃO:</b> pmxi_after_post_import</div>
<div class='progress-msg'>[19:58:53] ---</div>
<div class='progress-msg'>[19:58:53] Registros #83</div>
<div class='progress-msg'>[19:58:53] <b>AÇÃO:</b> pmxi_before_post_import ...</div>
<div class='progress-msg'>[19:58:53] Combinar todos os dados para o post Tapete Patchwork Estonado ...</div>
<div class='progress-msg'>[19:58:53] Encontre o artigo correspondente entre os importados anteriormente para o post `Tapete Patchwork Estonado`...</div>
<div class='progress-msg'>[19:58:53] A postagem duplicada não foi encontrada com a chave exclusiva `3004`...</div>
<div class='progress-msg'>[19:58:53] Aplicando filtros `pmxi_article_data` para `Tapete Patchwork Estonado`</div>
<div class='progress-msg'>[19:58:53] <b>CRIANDO</b> `Tapete Patchwork Estonado` `Produto`</div>
<div class='progress-msg'>[19:58:53] Postagem associada `Tapete Patchwork Estonado` com a importação atual...</div>
<div class='progress-msg'>[19:58:54] <b>IMAGENS:</b></div>
<div class='progress-msg'>[19:58:54] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/14192705_1301674669857556_1187834402451128174_n.jpg` for `Tapete Patchwork Estonado` ...</div>
<div class='progress-msg'>[19:58:54] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/14192705_1301674669857556_1187834402451128174_n.jpg` by URL...</div>
<div class='progress-msg'>[19:58:54] - <b>ATENÇÃO</b> Imagem 14192705_1301674669857556_1187834402451128174_n.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:54] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/14192705_1301674669857556_1187834402451128174_n.jpg`</div>
<div class='progress-msg'>[19:58:54] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/14192705_1301674669857556_1187834402451128174_n.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:54] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/14192705_1301674669857556_1187834402451128174_n.jpg`</div>
<div class='progress-msg'>[19:58:57] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:57] - Attachment with ID: `1050` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/14192705_1301674669857556_1187834402451128174_n.jpg`</div>
<div class='progress-msg'>[19:58:57] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/Turco-estonado.jpg` for `Tapete Patchwork Estonado` ...</div>
<div class='progress-msg'>[19:58:57] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/Turco-estonado.jpg` by URL...</div>
<div class='progress-msg'>[19:58:57] - <b>ATENÇÃO</b> Imagem Turco-estonado.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:57] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/Turco-estonado.jpg`</div>
<div class='progress-msg'>[19:58:57] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/Turco-estonado.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:57] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/Turco-estonado.jpg`</div>
<div class='progress-msg'>[19:58:58] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:58] - Attachment with ID: `1051` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/Turco-estonado.jpg`</div>
<div class='progress-msg'>[19:58:58] - Importando a imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/Turco-patchwork.jpg` for `Tapete Patchwork Estonado` ...</div>
<div class='progress-msg'>[19:58:58] - Searching for existing image `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/Turco-patchwork.jpg` by URL...</div>
<div class='progress-msg'>[19:58:58] - <b>ATENÇÃO</b> Imagem Turco-patchwork.jpg não foi encontrada na galeria de mídia</div>
<div class='progress-msg'>[19:58:58] - Fazendo o download da imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/Turco-patchwork.jpg`</div>
<div class='progress-msg'>[19:58:58] - A imagem `http://shoppingdostapetes.com.br/novo/wp-content/uploads/2017/11/Turco-patchwork.jpg` foi baixada com sucesso</div>
<div class='progress-msg'>[19:58:58] - Criando um anexo para a imagem `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/Turco-patchwork.jpg`</div>
<div class='progress-msg'>[19:58:59] - <b>ACTION</b>: pmxi_gallery_image</div>
<div class='progress-msg'>[19:58:59] - Attachment with ID: `1052` has been successfully created for image `http://shoppingdostapetes.com.br/novo-site/wp-content/uploads/2019/07/Turco-patchwork.jpg`</div>
<div class='progress-msg'>[19:58:59] <b>TAXONOMIAS:</b></div>
<div class='progress-msg'>[19:58:59] - Importando taxonomia `product_cat` ...</div>
<div class='progress-msg'>[19:58:59] - Tentativa de criar o pai Produto product_cat `Tapetes`, duplicado detectado. Importando Produto para `Tapetes` existente, ID 0, slug `25`...</div>
<div class='progress-msg'>[19:58:59] - Tentativa de criar o filho Produto product_cat `Tapetes Turcos`, duplicado detectado. Importando Produto para `Tapetes Turcos` existente, ID 0, slug `49`...</div>
<div class='progress-msg'>[19:58:59] - Importando taxonomia `product_tag` ...</div>
<div class='progress-msg'>[19:58:59] - Importando taxonomia `tamanho_tapetes` ...</div>
<div class='progress-msg'>[19:59:00] - Tentativa de criar o pai Produto tamanho_tapetes `Sob Consulta`, duplicado detectado. Importando Produto para `Sob Consulta` existente, ID 0, slug `57`...</div>
<div class='progress-msg'>[19:59:00] <b>CRIADO</b> `Tapete Patchwork Estonado` `Produto` (ID: 1049)</div>
<div class='progress-msg'>[19:59:00] <b>AÇÃO:</b> pmxi_saved_post</div>
<div class='progress-msg'>[19:59:00] <b>AÇÃO:</b> pmxi_after_post_import</div>
